.dropdown-content
{
	position: absolute;
	z-index: 200;
}

.btn {
    text-transform: none;
}

.no-capital {
	text-transform: none;	
}

.breadcrumb:before {
    color: #00796b ;
}

.breadcrumb, .breadcrumb:last-child {
   color: #00695c;
}
