{% extends 'allauth/base.html' %}


{% block head_title %}
About Us
{% endblock %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">About Us</a>
</div>
{% endblock %}

{% block content %}

<div class="container">
	
<h4 class="center">About Us</h4>

<b>
	
Robasquare is a customized casual brand for college geeks and university nerds.
We offer guaranteed products and customized entries who requires them to our customer's doorstep.We love to take care of your memory and provide an online platform for you to scroll your expectations and make us deliver it into reality.
</b>

<p>
	<br><br>
<h4 class="center">Philosophy</h4>	
<b>
	
	In an era where brand loyalty is low and demands are high, it makes that customization has taken off.
	<br>
	Shoppers can customize their own product and also own the predesign product design by our team keeping in mind the youth trends.
<br>	Customization creates the relationship between the shopper and the products it desires.If you are the smart and finicky person who wants to make a statement by flaunting your college/University stuff and feel nostalgic once you leave college then it’s the right platform for you.
</b>
</p>

</div>

{% endblock %}