{% extends 'allauth/base.html' %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Community Guidelines</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
	
<h4 class="center">Community Guidelines</h4>
	
The following are general guidelines that influence whether or not a blogs will be published on the website or not.
<ul class="collection">
<li class="collection-item">
<i class="material-icons left">done</i>
Personal attacks on other users or any individual are not tolerated, and users who repeatedly post such comments would be banned.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Comments featuring swearing, name-calling or otherwise abusive language are unacceptable.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
Keep your blogs relevant. 
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Blogs that are racist, sexist, homophobic or otherwise offensive will not be tolerated. There is a difference between criticizing a government, organization or belief and attacking people because of their race, gender, sexual orientation or religion.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Blogs in English is preferred.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Keep your blogs coherent. 
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Do not post blog which you have copied from someone else and for which you do not have the copyright.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 DO NOT SHOUT. Writing in caps is considered shouting in web etiquette. 
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 No spamming or flooding. 
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
No advertising, promotion of products or services, or posting of web links (URLs).
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 No impersonating. Impersonating anyone (including other members) is unacceptable.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 No inappropriate usernames.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 No personal information. It is not acceptable to publicize yours or anyone else's contact details, including address, place of employment, telephone number, email address, etc. 
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 We will not accept defamatory comments capable of damaging the reputation of an organization or individual in the eyes of right thinking members of the public.
</li>
<li class="collection-item">
<i class="material-icons left">done</i>
 Spelling and grammar will not be corrected when comments are posted on blogs. However, we reserve the right to correct spelling and grammar when publishing comments elsewhere on our site.
</li>
</ul>
<b>
Content on this website is for general information purposes only. Your comments are provided by your own free will and you take sole responsibility for any direct or indirect liability. You assign us with a license to use, reuse, delete or publish any comments without notice.
</b>
</div>

{% endblock %}