{% extends 'allauth/base.html' %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Disclaimer</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h4 class="center">Disclaimer</h4>
	<b>
		Although we take security extremely seriously and strive to protect all your information, no information on the internet can be guaranteed to be 100% protected from attacks or theft. We use only commercially acceptable and verified methods of online payment through our third party partners. As a user of this website, all information that you provide is at your own risk.
The graphics appearing on each of the product that users see on our website is the suggestion from the user ends itself. We do not use any university or college logo for any commercial purpose. We just provide the user the best of the design substitute by the use of different fonts and if users desires the components of their respective college
	</b>
</div>
{% endblock %}