{% extends 'allauth/base.html' %}


{% block head_title %}
Help Center
{% endblock %}


{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Help</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h4 class="center">Roba Square Help Center</h4>
	<div class="center">
		
	<b>My Account and My order</b>
	</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">shopping_cart</i><b>How do I place my order on Roba Square?</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			1. Browse through our wide range of customized products and choose the one that you like. You have the option of buying with the customization of your College/University logo subject to your choice.
      		</li>
      		<li>
			2.”Add to my cart” your desired product and confirm the order.
      		</li>
      		<li>
		3. Once set, checkout to submit the order in your preferred address and select the desired payment option.
      		</li>
      		</ol>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">redeem</i><b>How will I receive my order?</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      	We will ship your Product on your mentioned shipping address and it will be delivered at your doorstep. You will receive your confirm order within 7-10 days.
      	</li>
      </ol>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">announcement</i><b>How will I get the confirmation about my placed order?</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      		
      	Once you place your final order you will receive notification on the e-mail provided at the time of checkout and also you will be notified on your profile notification tab. You can also download the invoice once your order is placed.
      	</li>
      </ol>
      </span></div>
    </li>
  </ul>



<div class="center">
	
<b>Payment Mode</b>
</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">https</i><b>How safe is my online transaction?</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			We have ties up with one of the reputed merchant for online transaction. All the transaction that you do online remains with you and your bank. All Credit Card, Debit Card and Net Banking transactions are managed over a secure encrypted connection. We do not store any of your card credential on our database.

      		</li>
      		</ol>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">payment</i><b>What are the mode of payment options available?
</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      	For our users’ convenience we have primarily the mode of payment available with us are:<br>
Debit Card<br>
Credit Card<br>
Internet Banking<br>
Cash On Delivery (COD)<br>

      	</li>
      </ol>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">home</i><b>Is there any COD (Cash On Delivery) charge?</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
In order to promote online transaction we do charge extra amount on COD mode of payment. But it is the minimalistic amount and you will be levied only Rs.25 per product you buy. For example, if your order includes three products, you will be levied a COD charge of 50.
      	</li>
      </ol>
      </span></div>
    </li>
  </ul>




<div class="center">
	
<b>Shipping Policy</b>
</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">send</i><b>What is the Shipping policy of RobaSquare?</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			We assure our customers the best experiences of online shopping that is just, hassle free and reliable. We take care of all your products and ensure that it reaches you in the safe and sound state.
      		</li>
      		</ol>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">schedule</i><b>How long would my order take to reach?
</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      	Our main focus is on customer satisfaction. No one wants to wait in this busy world. So we are trying our best to deliver your product on time as per your expectations. We usually deliver within 5-6 working days. In some rarest of rare cases, your shipment could be delayed. This situation can take place due to some bad circumstances.
      	</li>
      </ol>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">attach_money</i><b>Is there any extra cost for shipping?</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
This is one of our company’s edge, we provide free shipping to any parts of India. So you will not be charge any amount for shipping. It’s absolutely FREE.
      	</li>
      </ol>
      </span></div>
    </li>
  </ul>

<div class="center">
	
<b>Bulk Orders</b>
</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">layers</i><b>Do RobaSquare accept bulk orders?</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			YES, we do accept bulk orders. In order to place bulk orders the quantities for any single design should be at least 25.For more information on bulk orders you can reach us at care@robasquare.com. We will get back to you for further process.
      		</li>
      		</ol>
      </span></div>
    </li>

  </ul>



<div class="center">
	
<b>Blogs</b>
</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">mode_edit</i><b>How do I post my blog on Robasquare website?
</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			To post a blog you need to login as a user and then you will be given a link connecting you to a text-editor. Using the text editor you can write your blogs following the moral guidelines. It will then be verified by our content team. After being verified we will publish it on our website.
      		</li>
      		</ol>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">sentiment_neutral</i><b>Why are my blogs not being posted on your website?

</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      	Any blogs written or send by the users is strictly screened by our content team to check its credential. So our users are requested to follow the standard guidelines for the Blog. For more you can refer to Community Guidelines (URL) 
      	</li>
      </ol>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">account_box</i><b>
How do I get my photo published on PIC of the Week Section?</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
To get your flaunting photo published on PIC of the week section
      	</li>
      </ol>
      </span></div>
    </li>
  </ul>



<div class="center">
	
<b>Miscellaneous</b>
</div>
	 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">aspect_ratio</i><b>How do I find my size?
</b> </div>
      <div class="collapsible-body"><span>
      		<ol>
      		<li>
      			Please refer to our  <a href="#modal1">detailed Size chart</a> for exact measurements.
      		</li>
      		</ol>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">done_all</i><b>Is there any trial then purchase option available?

</b></div>
      <div class="collapsible-body"><span>
      <ol>
      	<li>
      	Since we do not have any offline store as of now, and sell only on our online store, we do not have any trial and buy option. However we can assure you with the fittings and fabrics of wearable products that you buy from our website. 
      	</li>
      </ol>
      </span></div>
    </li>
    
  </ul>


  <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Size Chart</h4>
      <p>
        <img src="" class="responsive-img">
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          

</div>
<script type="text/javascript">
	 $(document).ready(function(){
    $('.collapsible').collapsible();
  });
       
</script>
{% endblock %}