{% extends 'allauth/base.html' %}


{% block head_title %}
Privacy Policy
{% endblock %}


{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Privacy Policy</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h4 class="center">Roba Square Privacy Policy</h4>

	Roba Square is resolutely committed to valuing and maintaining the privacy of any information you provide on robasquare.com. We do not sell or share any information about our users to any third party. Roba Square has the right to modify this Privacy Policy and this modification will be effective immediately following Roba Square’s posting of such changes on the website. Your use of Roba Square’s service following such posting shall be deemed to constitute your acceptance of such modification.
You can browse, shop and contact us on robasquare.com without creating an account. But in order place the final order and buy from our website, follow friends and comment, you will need to sign up. When you sign up, we need you to enter a valid email address and a password of your choice, or directly with your Google or Facebook account. Information like your profile picture and username are visible to the public.  Contact and account information gathered from registered users of the website is strictly confidential between the User and Roba Square.
<br><br>
<b>Contact Information</b><br>
Your email id, address, mobile number and any other contact information that you may share with us is not sold to or shared with anybody. We hate unwanted calls and emails just as much as you do. Roba Square may use this info from time to time to notify you about special offers and goodies.
<br><br>
<b>Cookies and Shared Objects</b><br>
We may also use cookies and/or shared objects to track and understand the traffic on our website. Cookies are alphanumeric identifiers that our website places on your computer’s hard drive. Cookies identify your computer so that we can distinguish you the next time you visit us. We may use Cookies and/or shared objects to collect and store some information about you, such as the name of the domain and host from which you access the internet, the internet protocol (IP) address of the PC you are using, the date and time you access our website and the Internet address of the website from which you linked directly to our website.   <br><br>
<b>Information we do not collect</b><br>
We do not collect any credit or debit card information from our users. This information is used for transactional purposes by our third party secure payment
</div>
{% endblock %}