{% extends 'allauth/base.html' %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Return and Exchange</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
<h4 class="center">
	
	Return policy
</h4>	
Your Satisfaction is our responsibility and we make sure you are highly satisfied..
We accept returns for exchange or refund up to 7 calendar days after delivery of the product. At our sole discretion after 7 calendar days, we will offer an exchange. Items must be in “new, unaltered and unused condition.” An item can be returned if it does not fit or if you want something different. Again, buyer satisfaction is our top priority. In the event of a return:<br><b>
	
•  Buyer is responsible for return shipping cost<br>
• Must complete and include the return/exchange form.<br>
• Items must not show signs of wear, damage or smoke in any way.<br>
• Buyer must contact customer service within 7 calendar days of the delivery date (after 7 days no returns are allowed).<br>
</b>

If an item is received damaged or is incorrectly shipped by us, please contact <a href="mailto:care@robasquare.com" class="black-text">
              Customer Support
              </a>  immediately. In the event of any error on our part, it will be corrected at our expense.<br>
Refunds are contingent upon inspection of item(s) once we receive it.<br><b>
Again you MUST contact us within 7 days if you intend to return ANY item back to our store.
Items returned to us AFTER 7 days and WITHOUT contacting us will NOT be refunded.
</b>

</div>
{% endblock %}