{% extends 'allauth/base.html' %}


{% block head_title %}
Shipping
{% endblock %}


{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Shipping</a>
</div>
{% endblock %}

{% block content %}

<div class="container">
	
<h4 class="center">
Shipping Policy
</h4>
<br><br>
<b>
	
What is the Shipping policy of RobaSquare?
</b><br>
We assure our customers the best experiences of online shopping that is just, hassle free and reliable. We take care of all your products and ensure that it reaches you in the safe and sound state.
 
 <br><br>
 <b>
How long would my order take to reach?
 </b><br>

Our main focus is on customer satisfaction. No one wants to wait in this busy world. So we are trying our best to deliver your product on time as per your expectations. We usually deliver within 5-6 working days. In some rarest of rare cases, your shipment could be delayed. This situation can take place due to some bad circumstances.
<br><br>
<b>
	
Is there any extra cost for shipping?
</b><br>
This is one of our company’s edge, we provide free shipping to any parts of India. So you will not be charge any amount for shipping. It’s absolutely FREE.
<br>
</div>

{% endblock %}