{% extends 'allauth/base.html' %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Terms Of Use</a>
</div>
{% endblock %}

{% block content %}

<div class="container">

<h4 class="center">
	Terms and Condition
</h4>

<b>Welcome to Roba Square. By using the services of the website, you are agreeing to all the terms and conditions listed below. Roba Square reserves the right to update or modify these terms and conditions at any time without prior notice. </b>

<ol>
<li>
	
	 This agreement is between Roba Square.com (website of Roba Square) and YOU as a website visitor or as a person intending to make a purchase or actually making a purchase on our website.
</li>

<li>
	
 The concern of Roba Square under this agreement is limited to the value of the product purchased from www.robasquare.com. Roba Square shall not be liable for any direct or indirect costs incurred by you for any reason related to the purchase or intended purchase of products on the website.
</li>
<li>
	
 Any deceit, fraud, deliberate omission, or wrongful act conducted by you will be subjected to legal action and Roba Square will not be responsible for your actions.
</li>
<li>
	
 Delivery will be facilitated pursuant to your instructions by postal or courier service and will be paid for by the customer at the price indicated at the time of purchase.   Roba Square shipping charges are included in the price of the product. For Cash On Delivery option, the customer will have to pay the amount to the delivery personnel. Users are hereby notified that COD may incur extra cost.
</li>
<li>
	
 The designs you see on the products are copyright and sole property of Roba Square. You can’t use them for your personal or professional purpose without our concern. If you do the same, Roba Square can take any legal action against you.
</li>
<li>
	
 The buyer of the product needs to make their own judgment of the safety and risks associated with various products that may be sold. Roba Square is not responsible for any consequences that arise from the use of the product.
</li>

<li>
	
 Roba Square may change or modify the website, its contents, the policies and terms and conditions at any time without any prior notice.
</li>

<li>
	
 Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.
</li>
<li>
	
 Roba Square  may contact you or provide you with service-related and/or promotional notices by means of postal mail, e-mail, general site notifications and more using the contact information you have provided to us.
</li>
<li>
	
 By placing an order with us, you are agreeing to all our Terms and Conditions and information on this page.
</li>
<li>
	
 Roba Square    is not responsible for purchases that are unable to be processed due to technical difficulties with the website or unavailability of products.
</li>
<b>
	
If you have any questions, comments or requests regarding our Terms of Service or the website please contact us at care@robasquare.com.
</b>


</ol>


</div>

{% endblock %}