{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a href="{% url 'authentication:change_settings' %}" class="breadcrumb" >Settings</a>
        <a class="breadcrumb" >Password Change</a>
</div>

{% endblock %}
{% block content %}
<div class="container">

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
      </ul>
    </div>
    {% endif %}

    <h5>{% trans "Change Password" %}</h5>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
         <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Change Password" %}
    <i class="material-icons right">send</i>
  </button>
    </form>
    </div>
{% endblock %}
