{% load cfilters %}
{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ instance.title }} | RobaSquare</title>

  <script src="{% static 'js/jquery-1.12.3.js' %}" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"          content="article" />
 <meta property="fb:app_id"  content="344946732557346" />
  <meta property="og:title"         content="{{ title }}" />
  <meta property="og:description"   content="Read this blog post on RobaSquare" />
  {% if instance.image %}
  <meta property="og:image"         content="{{ request.build_absolute_uri }}{{ instance.image.url }}" />
{% endif %}

<style type="text/css">
	.parallax-container {
      height: 300px;
    }  
</style>
</head>
<body>
{% if instance.publish_it %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=344946732557346";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endif %}

      {% if instance.image %}
 <div class="parallax-container">
      <div class="parallax"><img src="{{ instance.image.url }}"></div>
    </div>
    {% endif %}

       <div class="container">
       

<h2>{{ title }}</h2>
{% if instance.publish_it %}
<span class="badge blue black-text">Viewed {{ count }} times</span>
{% else %}
<span class="badge green black-text">Preview</span>
{% endif %}
<p>By <a href="{{ instance.user.user_information.get_absolute_url }}">{{ instance.user|getfullname }}</a></p>


<hr/>
<div class="row">
	<div class="col s12">
{% autoescape off %}
{{ instance.content }}
{% endautoescape %}	
	</div>
</div>
<div class="divider"></div>

<div class="row">
	<div class="col s4 offset-s4">
 <blockquote>
 	<h5>About the Author</h5>
  <ul class="collection" style="border: none;">
    <li class="collection-item avatar">
          {% if instance.user.socialaccount_set.all.0 %}
                  <img class="square" src="{{ instance.user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person">
            {% else %}
            {% thumbnail instance.user.user_information.change_profile_pic "50x50" as im %}
            <img class="circle" src="{{ im.url }}" alt="Contact Person">
              {% endthumbnail %}            
            {% endif %}
      <span class="title"><a href="{{ instance.user.user_information.get_absolute_url }}"><b>{{ instance.user|getfullname }}</b></a></span>
      <p> 
    {% if request.user.user_information.profession and request.user.user_information.name_of_institute %}
                <p>{{ request.user.user_information.profession }} at {{ request.user.user_information.name_of_institute }}</p>
                {% endif %} <br>
      </p>
      {% if instance.about_the_author %}
  <p>{{ instance.about_the_author }}</p>
                {% endif %}
    </li>
    </ul>                
    </blockquote>
          
	</div>
</div>
{% if request.user == instance.user %}
      <p class="center">
      <a style="text-transform: none;" href="{% url 'blog:update' slug=instance.slug %}">Edit</a>
      <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=instance.slug %}">Delete Post?</a>
      <br>
      
{% endif %}
To contribute for blog posts on Roba Square<a href="{% url 'blog:post_create' %}"> click here</a></p>

{% if instance.publish_it %}
<div class="container">
<p>
  <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</p>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>
{% endif %}
       </div> 



<script type="text/javascript">
	 $(document).ready(function(){
      $('.parallax').parallax();
    });
        
</script>


</body>
</html>