{% extends "allauth/base.html" %}
<!-- {% block extra_header %} {{ form.media }} {% endblock %} -->
{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a href="{% url 'blog:list' %}" class="breadcrumb">Blogs</a>
        <a class="breadcrumb" >Write Blog</a>
</div>

{% endblock %}

{% block head_title %}Blog Post | RobaSquare{% endblock %}

{% block content %}


{% load wysiwyg %}
{% wysiwyg_setup %}
<div class='container'>
<h5>Write your blog here</h5>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
<p>	
{{ form.title.errors }}
{{ form.title.label_tag }}
{{ form.title }}
</p>


<p>	
{{ form.content.errors }}
{{ form.content.label_tag }}
{{ form.content }}
</p>


<p>	
{{ form.draft.errors }}
{{ form.draft }}
{{ form.draft.label_tag }}
</p>


<p>	
{{ form.show_about_the_author.errors }}
{{ form.show_about_the_author }}
{{ form.show_about_the_author.label_tag }}
</p>


<p>	
{{ form.about_the_author.errors }}
{{ form.about_the_author.label_tag }}
{{ form.about_the_author }}
</p>


<input type='submit' class='btn btn-default' value='Create Post' />
{% wysiwyg_editor "id_content" %}
</form>
</div>
{% endblock content %}