{% load cfilters %}
{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ instance.title }} | RobaSquare</title>

  <meta charset="UTF-8">
<!--   <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content=""> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
      <link href="{% static 'css/icons.css' %}" rel="stylesheet">

    <script src="https://use.fontawesome.com/6dc1b79a56.js"></script>
    <style type="text/css">
  blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #00897b; /* Just change the color value and that's it*/
}
</style>
     

<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"          content="article" />
 <meta property="fb:app_id"  content="344946732557346" />
  <meta property="og:title"         content="{{ title }}" />
  <meta property="og:description"   content="Read this blog post on RobaSquare" />
  {% if instance.image %}
  <meta property="og:image"         content="{{ request.build_absolute_uri }}{{ instance.image.url }}" />
{% endif %}

<style type="text/css">
	.parallax-container {
      height: 300px;
    }  
</style>
</head>
<body>
      {% if instance.image %}
 <div class="parallax-container">
      <div class="parallax">
      {% thumbnail instance.image '1352x300' as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
      </div>
    </div>
    {% endif %}

{% if instance.publish_it %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=344946732557346";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endif %}




       <div class="container">
<!-- <img src="{{ instance.image.url }}"> -->
<h2>{{ title }}</h2>
{% if instance.publish_it %}
<span class="badge teal lighten-1 black-text">Viewed {{ count }} times</span>
{% else %}
<span class="badge pink black-text">Preview</span>
{% endif %}
<p>By <a class="green-text" href="{{ instance.user.user_information.get_absolute_url }}">{{ instance.user|getfullname }}</a></p>


<hr/>
<div class="row">
	<div class="col s12">
{% autoescape off %}
{{ instance.content }}
{% endautoescape %}	
	</div>
</div>
<div class="divider"></div>

<div class="row">
	<div class="col s12 l4 offset-l4">
 <blockquote>
 	<h5>About the Author</h5>
  <ul class="collection" style="border: none;">
    <li class="collection-item avatar">
          {% if instance.user.socialaccount_set.all.0 %}
                  <img class="square" src="{{ instance.user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person">
            {% else %}
            {% thumbnail instance.user.user_information.change_profile_pic "50x50" as im %}
            <img class="circle" src="{{ im.url }}" alt="Contact Person">
              {% endthumbnail %}            
            {% endif %}
      <span class="title"><a class="teal-text text-darken-3" href="{{ instance.user.user_information.get_absolute_url }}"><b>{{ instance.user|getfullname }}</b></a></span>
      <p> 
    {% if request.user.user_information.profession and request.user.user_information.name_of_institute %}
                <p>{{ request.user.user_information.profession }} at {{ request.user.user_information.name_of_institute }}</p>
                {% endif %} <br>
      </p>
      {% if instance.about_the_author %}
  <p>{{ instance.about_the_author }}</p>
                {% endif %}
    </li>
    </ul>                
    </blockquote>
          
	</div>
</div>
{% if request.user == instance.user %}
      <p class="center">
      <a style="text-transform: none;" href="{% url 'blog:update' slug=instance.slug %}" class="teal-text text-darken-4">Edit</a>
      <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=instance.slug %}">Delete Post?</a>
      <br>
      
{% endif %}
To contribute for blog posts on Roba Square<a href="{% url 'blog:post_create' %}" class="teal-text text-darken-4"> click here</a></p>

{% if instance.publish_it %}
<div class="container">
<p>
  <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</p>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>
{% endif %}
       </div> 

<div class="container">
{% for obj in posts %}
  <div class="row">
        <div class="col s12 m12">
          <div class="card small">
            <div class="card-image">
                {% if obj.image %}
               {% thumbnail obj.image '1000x450' as im %} 
                 <img src='{{ im.url }}' class='responsive-img' />
                 {% endthumbnail %}
                {% endif %}
            </div>
            <div class="card-action">
              <span class="badge teal lighten-1 black-text">Viewed {{ obj.get_views_count }} times</span>
              <p>
              <h5><a class="teal-text text-darken-4" style="text-transform: none;" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h5>

              {% if request.user == obj.user %}
              <a style="text-transform: none;" href="{% url 'blog:update' slug=obj.slug %}" class="teal-text text-darken-4">Edit</a>
              <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=obj.slug %}">Delete Post?</a>
              <br>
              {% endif %}
              By <a style="text-transform: none;" class="green-text" href="{{ obj.user.user_information.get_absolute_url }}">{{ obj.user|getfullname }}</a><span class="right grey-text">Pubished: {{ obj.timestamp|timesince }} ago</span></p>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
<div class="center" style="padding-bottom:  70px;">
<a class="center teal-text text-darken-4" href="{% url 'blog:list' %}">Show all</a> |
<a class="center teal-text text-darken-4" href="/">Home</a>
</div>
</div>



<div class="row">
  <div class="col s10 offset-s1">
    <div class="container center">
           
            <div class="fb-page" data-href="https://www.facebook.com/RobaSquare" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RobaSquare" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RobaSquare">Roba Square</a></blockquote></div>
    </div>
  </div>
</div>



<h5 class="center">Try Out some awesome products on Roba Square</h5>

{% if recentlyviewed %}
<div class="section">
      <div class="row">
      {% for p in recentlyviewed %}
          <div class="col l3 s6 m6">
          <div class="card z-depth-0">
            <div class="card-image">
            <!-- {{ p.product.prod.all.0.productimages.all.0.image }} -->
            {% thumbnail p.product.prod.all.0.productimages.all.0.image "315x410" as im %}
            <img class="responsive-img activator" src="{{ im.url }}" >
      {% endthumbnail %}

              <!-- <img src="{{ p.product.get_image_url }}"> -->


            </div>
            <div class="card-action center">
            
              <a class="teal-text text-darken-4" href="{{ p.product.get_absolute_url }}" style="text-transform: none;">{{ p.product.name }}</a>
              <br>
              <a data-href='{{ p.product.get_add_to_cart_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to cart" class="addtocart  btn-floating waves-effect waves-light hoverable tooltipped" style="margin-left: 10px;"><i class="material-icons">add_shopping_cart</i></a>

              {% if p.product.stockcount %}
          {% else %}
              {% if request.user %}
              <a data-href='{{ p.product.get_add_to_wishlist_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to wishlist" class="addtocart btn-floating waves-effect waves-light hoverable tooltipped" style="margin-left: 10px;"><i class="material-icons">redeem</i></a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
</div>
{% endif %}




<script type="text/javascript">
	 $(document).ready(function(){
      $('.parallax').parallax();
    });
        
</script>
    <footer class="page-footer  teal darken-2 white-text">
      <div class="row teal darken-3" style="margin-top: -20px; height: 120px;">
      <div class="container">
        
        <div class="col l6 s12">
        <div class="row">
          <div class="col s6">
          <img class="responsive-img" height="70" width="120" src="{% static 'images/logotransparent.png' %}">
          </div>
          <div style="padding-top: 50px; "></div>
          <div class="col s6 black-text" >
          Legacy gets you going.
          </div>
        </div>
        </div>
<div class="col s6 hide-on-large-only" style="height: 25px;"></div>
        <div class="col l6 s12">
        <div class="hide-on-med-and-down" style="padding-top: 40px;"></div>
           <a href="https://www.instagram.com/roba_square/" target="_blank">
           <i style="padding-left: 10px;" class="fa fa-instagram fa-2x black-text right" aria-hidden="true"></i>  
           </a>
           <a href="https://twitter.com/roba_square" target="_blank"> 
            <i style="padding-left: 10px;" class="fa fa-twitter fa-2x black-text right" aria-hidden="true"></i>
           </a> 
           <a href="https://www.youtube.com/channel/UCmRn617_koWRtvuzv44XcRA" target="_blank">
            <i style="padding-left: 10px;" class="fa fa-youtube fa-2x black-text right" aria-hidden="true"></i> 
           </a>
           <a href="https://plus.google.com/u/0/109485630924303286551" target="_blank">
            <i style="padding-left: 10px;" class="fa fa-google fa-2x black-text right" aria-hidden="true"></i> 
           </a>
           <a href="https://www.facebook.com/RobaSquare/" target="_blank"> 
            <i style="padding-left: 10px;" class="fa fa-facebook fa-2x black-text right" aria-hidden="true"></i>
           </a>
        </div>
      </div>
      </div>

      <div class="row black-text">
      <div class="container">
          <div class="col l4">
            <b>Robasquare</b>
            <ul>

              <li>
              <a href="{% url 'authentication:viewextra' id=1 %}" class="black-text">
              <i class="fa fa-users fa-1x black-text left" aria-hidden="true"></i>About Us</li>
              </a>
              <li>
              <a href="{% url 'blog:list' %}" class="black-text">
              <i class="fa fa-rss fa-1x black-text left" aria-hidden="true"></i>Blogs
              </a>
              </li>

              <li>
              <a href="{% url 'authentication:viewextra' id=2 %}" class="black-text">
              <i class="fa fa-list fa-1x black-text left" aria-hidden="true"></i>Community Guidelines
              </a>
              </li>
            </ul>
          </div>
          <div class="col l4">
            <b>Customer Service</b>
            <ul>
              <li>
              <a href="{% url 'authentication:viewextra' id=3 %}" class="black-text">
              <i class="fa fa-undo fa-1x black-text left" aria-hidden="true"></i>Return and Exchange
              </a>
              </li>
              <li>
              <a href="{% url 'authentication:viewextra' id=4 %}" class="black-text">
              <i class="fa fa-truck fa-1x black-text left" aria-hidden="true"></i>Shipping
              </a>
              </li>
              <li>
              <a href="{% url 'authentication:viewextra' id=5 %}" class="black-text">
              <i class="fa fa-info fa-1x black-text left" aria-hidden="true"></i>Help
              </a>
              </li>
              <li>
              <a href="{% url 'authentication:viewextra' id=6 %}" class="black-text">
              <i class="fa fa-exclamation fa-1x black-text left" aria-hidden="true"></i>Disclaimer
              </a>
              </li>
            </ul>
          </div>
          <div class="col l4">
            <b>Get to Know us</b>
            <ul>
              <li><i class="fa fa-phone fa-1x black-text left" aria-hidden="true"></i>Phone: +91-9910059750</li>
              <li>
              <a href="mailto:care@robasquare.com" class="black-text">
              <i class="fa fa-envelope  fa-1x black-text left" aria-hidden="true"></i>Email: care@robasquare.com
              </a>
              </li>
              <li>
                {% block facebookpage %}
         
            {% endblock %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container black-text">
          © 2017 Copyright Roba Square
          <a class="black-text right" href="{% url 'authentication:viewextra' id=7 %}" style="padding-left: 20px;">Terms of Use</a> 
          <a class="black-text right" href="{% url 'authentication:viewextra' id=8 %}">Privacy Policy</a> 
        </div>
      </div>
    </footer>

<script type="text/javascript">
  
  $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
</body>
</html>