{% extends "allauth/base.html" %}
{% block content %}
{% load cfilters %}

{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb" >Blogs</a>
</div>
{% endblock %}

<div class="container">
    

<div class='col-sm-6 col-sm-offset-3'>
    <h4 class="center">Blogs on Robasquare</h4>
<form method='GET' action=''>
<div class="row">
<div class="input-field col s8">
<i class="material-icons prefix">search</i>
<input id="searchblogs" type='text' name='q'  value='{{ request.GET.q }}'/>
<label for="searchblogs">Search Blogs</label> 
</div>

<button class="btn waves-effect waves-light" type="submit" name="action">Search
  </button>
<!-- <input type='submit' class="col s2" value='Search' /> -->

</div>
</form>
{% for obj in object_list %}

<div class="row">
        <div class="col s12 m12">
          <div class="card small">
            <div class="card-image">
                {% if obj.image %}
                 <img src='{{ obj.image.url }}' class='responsive-img' />
                {% endif %}
            </div>
            <div class="card-action">
              <span class="badge blue black-text">Viewed {{ obj.get_views_count }} times</span>
              <h5><a style="text-transform: none;" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h5>
              <p>By <a style="text-transform: none;" class="green-text" href="{{ obj.user.user_information.get_absolute_url }}">{{ obj.user|getfullname }}</a><span class="right grey-text">Pubished: {{ obj.timestamp|timesince }} ago</span></p>
            </div>
          </div>
        </div>
      </div>
            
<hr/>

{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>
</div>

{% endblock content %}