{% extends "allauth/base.html" %}
{% load cfilters %}
{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb" >Blogs</a>
</div>
{% endblock %}

{% block content %}
 <div class="slider blog" style="margin-top: 37px; ">
   <ul class="slides" >
    {% for image in images %}
    <li>
      <img src="{{ image.image.url }}"> <!-- random image -->
      <div class="caption {{ image.alignment }}-align">
        <h3>{{ image.header }}</h3>
        <h5 class="light grey-text text-lighten-3">{{ image.content }}</h5>
        <h5><a href="{{ image.link }}">{{ image.link_text }}</a><h5>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.slider.blog').slider({
    height:300,
    indicators:false
    });
  });
  </script>




<!-- for the fb plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=344946732557346";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- for the fb plugin -->


<div class="container">
    


    <h4 class="center">Blogs on Robasquare</h4>
<form method='GET' action=''>
<div class="row">
<div class="input-field col s8">
<i class="material-icons prefix">search</i>
<input id="searchblogs" type='text' name='q'  value='{{ request.GET.q }}'/>
<label for="searchblogs">Search Blogs</label> 
</div>

<button class="btn waves-effect waves-light" type="submit" name="action">Search
  </button>
<!-- <input type='submit' class="col s2" value='Search' /> -->

</div>
</form>
<p>To contribute for blog posts on Roba Square<a href="{% url 'blog:post_create' %}"> click here</a></p>
{% for obj in object_list %}

<div class="row">
        <div class="col s12 m12">
          <div class="card small">
            <div class="card-image">
                {% if obj.image %}
                 <img src='{{ obj.image.url }}' class='responsive-img' />
                {% endif %}
            </div>
            <div class="card-action">
              <span class="badge blue black-text">Viewed {{ obj.get_views_count }} times</span>
              <p>
              <h5><a style="text-transform: none;" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h5>

              {% if request.user == obj.user %}
              <a style="text-transform: none;" href="{% url 'blog:update' slug=obj.slug %}">Edit</a>
              <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=obj.slug %}">Delete Post?</a>
              <br>
              {% endif %}
              By <a style="text-transform: none;" class="green-text" href="{{ obj.user.user_information.get_absolute_url }}">{{ obj.user|getfullname }}</a><span class="right grey-text">Pubished: {{ obj.timestamp|timesince }} ago</span></p>
            </div>
          </div>
        </div>
      </div>
            
{% endfor %}


<ul class="pagination center">
  {% if object_list.has_previous %}
            <li class="waves-effect"><a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}
  {% for i in nopages %}
  {% if i == object_list.number %}
    <li class="active"><a href="#!">{{ i }}</a></li>
    {% else %}
    <li class="waves-effect"><a href="?{{ page_request_var }}={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if object_list.has_next %}
    <li class="waves-effect"><a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
  </ul>
            

<div class="row">
  <div class="col s12">
    <div class="container center">
           
            <div class="fb-page" data-href="https://www.facebook.com/RobaSquare" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RobaSquare" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RobaSquare">Roba Square</a></blockquote></div>
    </div>
  </div>
</div>


            <hr/>



<h5 class="center">My Contributions</h5>
{% for obj in my_contributions %}
<div class="row">
        <div class="col s12 m12">
          <div class="card small" style="max-height: 170px;">
            <div class="card-content">
            {% if obj.publish_it %}
            <span class="badge blue black-text">Viewed {{ obj.get_views_count }} times</span>
            {% else %}
              <span class="badge pink black-text">Pending review</span>
              {% endif %}
              <p>
              <h5><a style="text-transform: none;" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h5>

              {% if request.user == obj.user %}
              <a style="text-transform: none;" href="{% url 'blog:update' slug=obj.slug %}">Edit</a>
              <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=obj.slug %}">Delete Post?</a>
              <br>
              {% endif %}
              By <a style="text-transform: none;" class="green-text" href="{{ obj.user.user_information.get_absolute_url }}">{{ obj.user|getfullname }}</a><span class="right grey-text">Submitted {{ obj.timestamp|timesince }} ago</span></p>
            </div>
          </div>
        </div>
      </div>
            
<hr/>

{% endfor %}


</div>


{% endblock content %}