
<div class="row">
  
  <div class="col s12 m6 l3 offset-l1">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/product_images/None/Space-Garden-Creative-Art-Wallpaper.jpg
"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          T shirt <i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
          200
          32
          Male
          True
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          T shirt <i class="material-icons right">close</i>
        </span>
        <p>
          
        </p>
      </div>
    </div>

  </div>
    
  </div>


  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="
"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          pants <i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
          123
          0
          Male
          True
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          pants <i class="material-icons right">close</i>
        </span>
        <p>
          
        </p>
      </div>
    </div>

  </div>
    
  </div>



