{% extends "allauth/base.html" %} 
{% load cfilters %}


{% block head_title %}
Check Out
{% endblock %}


{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb" href="{% url 'cart:viewcart' %}">Cart</a>
        <a class="breadcrumb">Checkout</a>
</div>

{% endblock %}

{% block content %}
<style type="text/css">
	#total{	
    font-size:35px;
	}
</style>

<div class="container">
	<div class="row" style="padding-top: 40px;">
		<div class="col s12">
<form method="POST" action="{% url 'payment:requestpayment' %}">{% csrf_token %}
	<table class="highlight centered responsive-table">
        <thead>
          <tr>
              <th data-field="name">Item Name</th>
              <th data-field="quantity">Quantity</th>
              <th data-field="size">Size</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>

        <tbody>
        {% for p in products %}
        <input type="hidden" name="id" value="{{ p.id }}">
        <input type="hidden" name="productname" value="{{ p.name }}">
          <tr>
            <td>
            	<div class="chip transparent black-text">
	    <img src="{{ p.get_image_url }}" alt="">
	    <b>{{ p.name }}</b>
	  </div>
            </td>
            <td>

		<div class="input-field col s8 offset-s2">
		<select id="select{{ p.id }}" name="quantity" data-id="{{ p.id }}"" data-baseprice="{{ p.price }}" > 
		<option value="" disabled selected>Select Quantity</option>
		{% for i in p.stockcount|list %}
		{% if i == 1 %}
		<option value="{{ i }}" selected="selected">{{ i }}</option>
		{% else %}
		<option value="{{ i }}" >{{ i }}</option>
		{% endif %}
		{% endfor %}
		</select>
		</div>
            </td>
                        <td>
                        {% ifnotequal p.get_sizes_of_product.0.0 "0" %}
		<div class="input-field col s8 offset-s2">
		<select id="sizeid{{ p.id }}" name="size" onchange="checkavailability($(this).val(),{{ p.id }})" data-baseprice="{{ p.price }}" > 
		<option value="" disabled selected>Select Size</option>
		{% for i in p.get_sizes_of_product %}
		{% if i == p.get_sizes_of_product.0 %}
		<option value="{{ i.0 }}" selected="selected">{{ i.0 }}</option>
		{% else %}
		<option value="{{ i.0 }}" >{{ i.0 }}</option>
		{% endif %}
		{% endfor %}
		</select>
		</div>
		{% else %}
		<input readonly type="hidden" class="input-field col s8 offset-s2 black-text" value="0" name="size">
		<b>Not applicable</b>
		{% endifnotequal %}
            </td>

            <td >
            <input readonly class="input-field col s8 offset-s2 black-text" onChange="findtotal()" type="text" id="change{{ p.id }}" name="productprice"  />
            </td>
			<script type="text/javascript">
			$(function() { 
			$('#select{{ p.id }}').change(function() {
			var bp = Number($(this).attr('data-baseprice'))
			var pid = $(this).attr('data-id')
			$('#change{{ p.id }}').val(Number($(this).val()) * bp);
			checkavailability($('#sizeid'+pid).val(),pid)
			findtotal();
			}).change(); // Trigger the event
			});
			</script>
          </tr>
          {% endfor %}
          <tr>

          	<td></td>
          	<td></td>
          	<td><h4>Total</h4></td>
          	<td>
          	
          		<div class="row">
	        <div class="col s12">
	        <div class="input-field inline">
          		<i class="fa fa-inr fa-1x prefix" aria-hidden="true"></i><input readonly name="grandtotal" class="black-text" id="total">
	        </div>
        </div>
        </div>
<!--           <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
 -->
          	</td>
          </tr>
        </tbody>
      </table>
      <a class="" href="{% url 'cart:viewcart' %}">Edit Cart</a>
	           

  

            <p class="red-text" id="errormessage"></p>

		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5 class="center">Address</h5>
			<div class="container">
			<p class="grey-text">Select a address where the product is to be delivered</p>
			{% for i in address %}
			<p>
			<input class="addresscheckbox" {% if forloop.counter == 1 %} checked {% endif %} name="address" type="radio" id="{{ forloop.counter }}"  value="{{ i }}" />
			<label for="{{ forloop.counter }}">{{ i }}</label>
			</p>
			{% endfor %}
			<p>
			<input {% if address %}{% else %}required {% endif %} class="addresscheckbox" name="address" type="radio" id="userpreference"  value="0" />
			<label for="userpreference">Add a new address for Delivery</label>
			</p>
			<div class="input-field col s12">
			<input {% if address %}{% else %}required {% endif %} name="newaddress" id="newaddress" type="text" class="validate" >
			<label for="newaddress">Add Address</label>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col s12">
	<div class="container">
	<h5 class="center">Phone Number</h5>	
		<div class="input-field col s12">
		<input required id="phonenumber" name="phonenumber" type="text" class="validate" {% if request.user.user_information.phonenumber %} value="{{ request.user.user_information.phonenumber }}" {% endif %}>
		<label for="phonenumber">Add or modify Phone Number</label>
		</div>	
	</div>
	</div>
	</div>
<input type="hidden" name="type" id="type">
	<div class="row">
		<div class="col s12">
		<div class="container">
			
		<h5 class="center">Method of Payment</h5>
      <ul class="tabs">
        <li class="tab col s6"><a class="teal-text text-darken-3 active" id="default" data-value="online" href="#online">Online Payment</a></li>
        <li class="tab col s6"><a class="teal-text text-darken-3" href="#cod" data-value="cod" >Cash On Delivery</a></li>
      </ul>
    <div id="online" class="col s12">
    <div class="container center" style="padding-top: 20px;">
	<button id="paynow" class="btn waves-effect waves-light center" type="submit" name="action">Pay Now
	<i class="material-icons right">payment</i>
	</button>
    </div>
    </div>
    <div id="cod" class="col s12">
    	<div class="container center" style="padding-top: 20px;">
	<button id="paycod" class="btn waves-effect waves-light center" type="submit" name="action">Cash on Delivery
	<i class="material-icons right">attach_money</i>
	</button>
	<p class="red-text"><i class="fa fa-inr fa-1x prefix" aria-hidden="true"></i>40 extra COD charge.</p>
	</div>
    </div>
	</div>			
	</div>
	</div>
	


 </form>

</div>
<script type="text/javascript">
	$('.addresscheckbox').on('change',function () {
	if( $('#userpreference').is(":checked") )
	{
	$('#newaddress').prop('required',true);
	}
	else 
	{
	$('#newaddress').prop('required',false);
	}
	
	});
</script>
<script type="text/javascript">
	  $(document).ready(function(){
	  	$('#default').trigger('click');
 $('ul.tabs').on('click', 'a', function(e) {
 	$('#type').val($(this).attr('data-value'))
});
  });
</script>

<script type="text/javascript">
	function findtotal(){
		var arr = document.getElementsByName('productprice');
		var tot=0;
		for(var i=0;i<arr.length;i++){
		if(parseInt(arr[i].value))
		tot += parseInt(arr[i].value);
		}
		$('#total').val(tot);
	}

	function checkavailability(size,id)
	{
		var data = {'size':size,'id':id,'requirednumber':$('#select'+id).val()};
		if(size){

		$.ajax({
			type : "POST",
			url : "{% url 'shopping:checkavailability' %}",
			data : data,
			beforeSend: function(){$('#paynow').addClass('disabled'); $('#paycod').addClass('disabled')},
			dataType: 'json',
			success : function(data){
				if(data['type'] == 1)
				{
					$('#paynow').removeClass('disabled');
					$('#paycod').removeClass('disabled');
					$('#errormessage').html("");
				}
				else
				{
					$('#errormessage').html(data['msg']);
				}
			},
			error : function(){
				$('#errormessage').html("Error occured, Check your connection!");
			}

		});//ajax ends
		}
	}

</script>
{% endblock %}