{% extends "index.html" %}
{% load staticfiles %}
{% load cfilters %}
{% load thumbnail %}
{% block title %}Shoppers on RobaSquare{% endblock %}
{% load crispy_forms_tags %}

{% block browser %}&nbsp{% endblock %}

{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb" >Shoppers</a>
</div>

{% endblock %}


{% block head_extra %}
  <script src="{% static 'js/peoplesearch.js' %}"></script> 
{% endblock %}

{% block search %}
  <div class="row">
    <div class="input-field col l6 s12 offset-l3">
      <i class="material-icons prefix">search</i>
      <label for="icon_prefix" class="center">Find Friends</label>
      <input id="icon_prefix" type="text"  class="autocomplete searchfriends">
      <ul class="autocomplete-content dropdown-content people-dropdown">
    </ul>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="row">
      {% for user in users %}
        <div class="col s6 l3 m4">
          <div class="card">
            <div class="card-image">


               {% if user.socialaccount_set.all.0 %}
                  <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person">
            {% else %}

            {% thumbnail user.user_information.change_profile_pic "227x227" crop="center" quality=100 as im %}
            <img src="{{ im.url }}" alt="Contact Person">
              {% endthumbnail %}

            
            {% endif %}
              
              <span class="card-title"></span>
            </div>
            <div class="card-content">
            <a class="teal-text text-darken-3" href="{% url 'social:viewuser' slug=user.user_information.slug %}">{{ user|getfullname }}</a>
            {% if user.user_information.profession and user.user_information.name_of_institute %}
              <p>{{ user.user_information.profession }} at {{ user.user_information.name_of_institute }}</p>
              {% endif %}
              
            </div>
            <div class="card-action" id="arc">

            <span id="addorremove{{ user.id }}">
            {% if user in connections %}
              <a style="text-transform: none;" data-id="{{ user.id }}" data-href="{% url 'social:removeconnection' id=user.id %}" class="teal-text text-darken-3 addremoveconnection">Remove from connections</a>
              {% else %}
              <a style="text-transform: none;" data-id="{{ user.id }}" data-href="{% url 'social:addconnection' id=user.id %}" class="teal-text text-darken-3 addremoveconnection" >Add to connections</a>
            {% endif %}
            </span>

            </div>
          </div>
        </div>
        {% endfor %}
</div>

<div class="row">
  <div class="container">
    <ul class="pagination center">
  {% if users.has_previous %}
            <li class="waves-effect"><a href="?{{ page_request_var }}={{ users.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}
  {% for i in nopages %}
  {% if i == users.number %}
    <li class="active teal darken-4"><a href="#!">{{ i }}</a></li>
    {% else %}
    <li class="waves-effect"><a href="?{{ page_request_var }}={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if users.has_next %}
    <li class="waves-effect"><a href="?{{ page_request_var }}={{ users.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
  </ul>

  </div>
</div>

{% endblock %}