{% load staticfiles %}
{% load socialaccount %}
{% load account %}
{% load i18n %}
{% user_display user as user_display %}
<html>
<head>
	<title>{% block title %}Tijarah{% endblock %}</title>

  <script src="{% static 'js/jquery-1.12.3.js' %}" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/zoom.js' %}"></script>


  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <link href="{% static 'css/icons.css' %}" rel="stylesheet">
   
</head>
<body>
  




  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><h3>Logo</h3></a>
      

      <ul id="nav-mobile" class="right">
        <li>
          <a href="{% url 'cart:viewcart' %}" class="waves-effect waves-light btn-large transparent z-depth-0"><i class="material-icons left">shopping_cart</i><span id="cartcount" style="margin-left:-15px;">{{ request.session.products|length }}</span></a>
          
        </li>

        <li style="margin-left: -70px;">
          <a class="waves-effect waves-light btn-large transparent z-depth-0"><i class="material-icons left">notifications</i><span style="margin-left:-18px;">8</span></a>
          
        </li>
        
        {% if user_display %}
        <li style="margin-left: -70px;">
          <a class='dropdown-button btn transparent z-depth-0' data-gutter="10px" data-beloworigin="true" href='#' data-activates='dropdown-user'>
            <div class="chip transparent ">
              <img src="{% static 'images/shahrukh.jpeg' %}" alt="Contact Person">
              {{ user_display }}<br/>
            </div></a>
            <ul id='dropdown-user' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="{% url 'cart:viewwishlist' %}">Wish List</a></li>
              <li><a href="{% url 'social:myprofile' %}">My Profile</a></li>
              <li><a href="{% url 'authentication:change_settings' %}">Settings</a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
          </li>

          {% else %}  
          <li>
           <a href = "{% url 'account_login' %}" class="waves-effect waves-light btn">Login or Signup</a>
         </li>
         {% endif %}

       </ul>

{% block browser %}
       <div class="row">
        <div class="col s12 center">
          <ul style="padding-top: 10px;">
          {% for c in categories %}
          <a class="waves-effect waves-light dropdown-button1" href="{{ c.get_absolute_url }}" data-activates='{{ c.id }}' data-beloworigin="true" >{{ c.category }}</a>
          {% endfor %}
          
            
          </ul>
        </div>
      </div>

<!-- for the dropdowns -->

{% for c in categories %}
  <ul id='{{ c.id }}' class='dropdown-content' data-beloworigin="false">
  {% for p in c.products_desc.all %}
    <li><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<!-- for the dropdowns -->
{% endblock %}

     {% block breadcumb %}
      
      {% endblock %}

    </div>
  </nav>

  


{% block search %}
  <div class="row">
    <div class="input-field col l6 s12 offset-l3">
      <i class="material-icons prefix">search</i>
      <label for="icon_prefix" class="center">Search for your favourite item</label>
      <input id="icon_prefix" type="text"  class="validate">
    </div>
  </div>
{% endblock %}

{% block content %}

  {% user_display user %}<br/>
  <a href="{% url 'social:viewallusers' %}">View all users</a>


  <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
  <br/><a href="{% provider_login_url "google" method="oauth2" %}">Google OAuth2</a>


  
  

  <div class="slider">
   <ul class="slides">
    {% for image in slider %}
    <li>
      <img src="{{ image.image.url }}"> <!-- random image -->
      <div class="caption {{ image.alignment }}-align">
        <h3>{{ image.header }}</h3>
        <h5 class="light grey-text text-lighten-3">{{ image.content }}</h5>
        <h5><a href="{{ image.link }}">{{ image.link_text }}</a><h5>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  



  <div class="section white">
    <div class="row container">
      <h2 class="header">Products</h2>
      <p class="grey-text text-darken-3 lighten-3">Here we'll be writing somethings abput our products</p>
      <div class="row">
      {% for category in categories %}
        <div class="col s12 m12 l6">
          <div class="card large">
            <div class="card-image">
              <img src="{{ category.image.url }}">
              <span class="card-title">{{ category.category }}</span>
            </div>
            <div class="card-content">
              <p>{{ category.category_description|linebreaks }}</p>
            </div>
            <div class="card-action">
              <a href="{{ category.get_absolute_url }}">{{ category.link_text }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>

        <h2 class="header">New Products</h2>

        <div class="row">
          {% for product in newproducts %}
          <div class="col s12 m6 l3">
            <div class="card small medium">
              <div class="card-image">
                <!-- <img src="{{ product.prod.all.0.productimages.all.0.image.url }}"> -->
                <img src="{{ product.get_image_url }}">
                <!-- product_description related to products which is related to ImagesOfProducts .all gives all the related objects and .0 used for indexing -->
                <span class="card-title">{{ product.name }}</span>
              </div>
              <div class="card-content">
                <p>{{ product.description }}</p>
                <a href="{{ product.get_absolute_url }}">Buy Now</a>
              </div>
              
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'images/1.jpg' %}"></div>
    </div>

    <div class="container">
      <h2 class="header">Pic of the week</h2>
    


    <div class="row">
     <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'images/1.jpeg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-image">
            <video class="responsive-video" controls>
             <source src="{% static 'videoes/1.mp4' %}" type="video/mp4">
             </video>

           </div>
           <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
</div>

      <div class="container">
        <h2 class="header">Product suggestions</h2>

        <div class="row">
          <form class="col s12" method="POST" onsubmit="return false" id="suggestionform">{% csrf_token %}
            <div class="row">
              <div class="input-field col s6">
                <input id="suggestions" name="suggestions" type="text" class="validate" required>
                <label for="suggestions">Product Suggestion</label>
              </div>
               <div class="input-field col s6">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">E-mail(optional)</label>
              </div>
            </div>


            <button class="btn waves-effect waves-light" id="suggestionsubmit"  type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>

          </form>
        </div>

      </div>
   

    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'images/1.jpg' %}"></div>
    </div>

    <script type="text/javascript">

  $(function(){

    $('#suggestionsubmit').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};

      $.ajax({
        url : "{% url 'review:productsuggestion' %}",
        type : 'POST',
        dataType: 'json',
        data :  $('#suggestionform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          $('#suggestions').val("")
          $('#email').val("")
          Materialize.toast(data['msg'], 4000)

        }
      });



    });

  });
</script>

{% endblock %}

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </body>

  </html>