{% load staticfiles %}
<html>
<head>
	<title>Tijarah</title>


	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<script src="{% static 'js/jquery-1.12.3.js' %}"
	integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
	crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static 'js/materialize.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
          
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right">
      <li>
<a class="waves-effect waves-light btn-large transparent z-depth-0"><i class="material-icons left">shopping_cart</i><span style="margin-left:-23px;">6</span></a>
      	 
      </li>

      <li style="margin-left: -70px;">
<a class="waves-effect waves-light btn-large transparent z-depth-0"><i class="material-icons left">notifications</i><span style="margin-left:-23px;">8</span></a>
      	 
      </li>
        
        <li>
          <a class='dropdown-button btn transparent z-depth-0' data-gutter="10px" data-beloworigin="true" href='#' data-activates='dropdown1'>
          <div class="chip transparent ">
    <img src="{% static 'images/shahrukh.jpeg' %}" alt="Contact Person">
    Mohammad Shahrukh
  </div></a>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li><a href="#!">three</a></li>
  </ul>
        </li>
      </ul>

      <div class="col s12" style="padding-left:50px;">
        <a href="#!" class="breadcrumb">Home</a>
        <a class="breadcrumb" >Accessories</a>
      </div>

    </div>
  </nav>



 <ul id="slide-out" class="side-nav">
    <li><div class="userView" style="background-image: url({% static 'images/1.jpeg' %});">
      <!-- <img class="background"  style="height:400px;width:250px;" src="{% static 'images/1.jpeg' %}"> -->
      <div style="padding-top:20px;"></div>
      <a href="#!user"><img class="circle" style="height:64px;width:64px;" src="{% static 'images/shahrukh.jpeg' %}"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    
    <li>
       <div class="row" style="padding-top:20px;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Share your thoughts"><i class="material-icons">add_circle</i>
          <div class="chips chips-placeholder"></div>
          <i class="material-icons">attach_file</i>Attach a Image
        </div>

         <button class="btn waves-effect waves-light" type="submit" name="action">Post
            <i class="material-icons right">send</i>
        </button>
        <hr/>
        
        
      </div>
    </form>
  </div>
        

    </li>
    <li><a class="waves-effect showpeople" data-href="/showpage/1" >Find Friends</a></li>

    <li><a class="waves-effect showpeople" data-href="/showpage/2" >Talk About Me page</a></li>

  </ul>
  
<div class="row">
        <div class="input-field col l6 s12 offset-l3">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" placeholde="Search for your item" class="validate">
        </div>
</div>

<div class="slider">
	<ul class="slides">
		<li>
		<img src="{% static 'images/1.jpeg' %}"> <!-- random image -->
		<div class="caption center-align">
		<h3>This is our big Tagline!</h3>
		<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		</div>
		</li>
	<li>
	<img src="{% static 'images/1.jpg' %}"> <!-- random image -->
		<div class="caption left-align">
		<h3>Left Aligned Caption</h3>
		<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
		</div>
	</li>
	<li>
	<img src="{% static 'images/background.jpg' %}"> <!-- random image -->
	<div class="caption right-align">
	<h3>Right Aligned Caption</h3>
	<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
	</div>
	</li>
	<li>
	<img src="{% static 'images/shahrukh.jpeg' %}"> <!-- random image -->
	<div class="caption center-align">
	<h3>This is our big Tagline!</h3>
	<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
	</div>
	</li>
	</ul>
</div>
      



  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    
    <div class="row">
        <div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>


        <div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        <div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>


        <div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

	  <h2 class="header">New Products</h2>

	  <div class="row">
	  	<div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        <div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

	  </div>
    
    </div>
  

  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/1.jpg' %}"></div>
  </div>

<div class="container">
<h2 class="header">Pic of the week</h2>
</div>


<div class="row">
	<div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/1.jpeg' %}">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        	<div class="col s12 m7 l6">
          <div class="card">
            <div class="card-image">
              <video class="responsive-video" controls>
	    <source src="{% static 'videoes/1.mp4' %}" type="video/mp4">
		  </video>

            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
</div>


  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/1.jpg' %}"></div>
  </div>
      

<div class="container">
<h2 class="header">Product suggestions</h2>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Product suggest</label>
        </div>
      </div>


  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

    </form>
  </div>

</div>



        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</body>
</html>