{% extends "allauth/base.html" %}
{% block breadcumb %}
{% load thumbnail %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">My Orders</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
      <a href="{% url 'payment:myreturns' %}" class="return-button secondary-content waves-effect waves-light btn right">My Returns</a>

<div class="row">
  <div class="col s12">
    <div class="section scrollspy">
      <ul class="collection">
{% for i in items %}
    <li class="collection-item avatar">
    {% thumbnail i.product.prod.all.0.productimages.all.0.image "64x64" as im %}
            <img src="{{ im.url }}" alt="Contact Person" class="circle">
              {% endthumbnail %}
      <a class="teal-text text-darken-3" href="{{ i.product.get_absolute_url }}"><b class="title">{{ i.product.name }}</b></a>
      <p><b>Size</b>: {% ifnotequal i.size "0" %}{{ i.size }}{% else %}N/A{% endifnotequal %} <br>
         <b>Quantity</b>: {{ i.quantity }}<br>
        <b>Date</b>: {{ i.timestamp }}<br>
         <b>Method of Payment</b>: {{ i.method_of_payment }}<br>
      </p>
      <a href="{{ i.get_return_url }}" class="return-button secondary-content waves-effect waves-light btn">Return</a>
    </li>
    {% endfor %}
    </ul> 
    </div>
  </div>
</div>
</div>

{% endblock %}