{% extends 'allauth/base.html' %}
{% load staticfiles %}
{% load cfilters %}
{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        {% if request.user == user %}
        <a class="breadcrumb" >My profile</a>
        {% else %}
        <a href="{% url 'social:viewallusers' %}" class="breadcrumb" >All Shoppers</a>
        <a class="breadcrumb" >{{ user|getfullname }}</a>
        {% endif %}

</div>

{% endblock %}

{% block content %}

<div class="row">
<div class="col s12 l3 m3 " style="padding-top: 20px;">

{% if user.socialaccount_set.all.0.get_avatar_url %}
            <img class="responsive-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person">
            <h5>{{ user|getfullname }}</h5>
            {% else %}
            <img class="responsive-img" src="{{ user.user_information.change_profile_pic.url }}" alt="Contact Person">
            <h5>{{ user|getfullname }}</h5>
            {% if request.user == user %}
            <div class="row">
          <form method='POST' action="{% url 'authentication:change_dp' %}" enctype='multipart/form-data'>{% csrf_token %}
            <div class="file-field input-field">
            <div class="btn waves-effect waves-teal btn-flat">
            <span>Update pic</span>
            <input type="file" name="ppic">
            </div>
            <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
            
            </div>
             <button class="btn waves-effect waves-light" type="submit" name="action">save
  </button>
          </form>
            </div>
            {% endif %}
            {% endif %}

            

</div>
<div class="col s12 l9 m9" style="padding-top: 20px;">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test2">Following</a></li>
        <li class="tab col s3"><a href="#test4">Followers</a></li>
        <li class="tab col s3"><a href="#test1">Products Viewed</a></li>
        {% if notifications %}
        <li class="tab col s3"><a href="#test3">Notifications</a></li>
        {% endif %}
      </ul>

    <div id="test1" class="col s12">
{% if recentlyviewed %}
<div class="section">
      <div class="row">
      {% for p in recentlyviewed %}
          <div class="col l3 s2 m3">
          <div class="card z-depth-0">
            <div class="card-image">
              <img src="{{ p.product.get_image_url }}">
            </div>
            <div class="card-action">
            {{ p.product.name }}
              <a href="#">This is a link</a>
              <a data-href='{{ p.product.get_add_to_cart_url }}' class='addtocart'>Add to cart</a>

              {% if request.user %}
              <a data-href='{{ p.product.get_add_to_wishlist_url }}' class='addtocart'>Add to wishlist</a>
              {{ p.product.get_add_to_wishlist_url }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
</div>
{% else %}
<h5 class="grey-text center">No Items to show</h5>
{% endif %}

    </div>

    <div id="test2" class="col s12">
    {% if connections %}
    	<div class="row">
      {% for user in connections %}
        <div class="col s6 l3 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ user.user_information.get_image_url }}">
              <span class="card-title">{{ user.username }}</span>
            </div>
            <div class="card-content">
              <p>{{ user.user_information.profession }} at {{ user.user_information.name_of_institute }}</p>
              <a href="{% url 'social:viewuser' slug=user.user_information.slug %}">View User</a>
            </div>
            <div class="card-action" id="arc">

            <span id="addorremove{{ user.id }}">
            {% if user in connections %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:removeconnection' id=user.id %}" class="addremoveconnection">Remove from connections</a>
              {% else %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:addconnection' id=user.id %}" class="addremoveconnection" >Add to connections</a>
            {% endif %}
            </span>

            </div>
          </div>
        </div>
        {% endfor %}
</div>

       {% else %}
       <h5 class="grey-text center">No connections to show</h5>
       {% endif %}
    </div>


        <div id="test3" class="col s12">
        {% if notifications %}
        {% for i in notifications %}
        <ul class='collection'>
        <a href="{{ i.data.url }}"><li class="collection-item avatar">
        <img src="{{ i.data.imageurl }}" class="circle">
        <b class="title">@{{ i.actor }}</b> {{ i.verb }}</br>{{ i.timestamp|timesince }} ago
        </li></a>
        </ul>
        {% endfor %}
        {% endif %}
      </div>

      <div id="test4" class="col s12">
    {% if followers %}
      <div class="row">
      {% for user in followers %}
        <div class="col s6 l3 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ user.user_information.get_image_url }}">
              <span class="card-title">{{ user.username }}</span>
            </div>
            <div class="card-content">
              <p>{{ user.user_information.profession }} at {{ user.user_information.name_of_institute }}</p>
              <a href="{% url 'social:viewuser' slug=user.user_information.slug %}">View User</a>
            </div>
            <div class="card-action" id="arc">

            <span id="addorremove{{ user.id }}">
            {% if user in connections %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:removeconnection' id=user.id %}" class="addremoveconnection">Remove from connections</a>
              {% else %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:addconnection' id=user.id %}" class="addremoveconnection" >Add to connections</a>
            {% endif %}
            </span>

            </div>
          </div>
        </div>
        {% endfor %}
</div>

       {% else %}
       <h5 class="grey-text center">No Followers to show</h5>
       {% endif %}
    </div>


</div>
</div>

{% endblock %}
