{% extends 'allauth/base.html' %}
{% load staticfiles %}
{% load cfilters %}
{% load thumbnail %}



{% block head_title %}
RobaSquare | {{ user|getfullname }}
{% endblock %}


{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        {% if request.user == user %}
        <a class="breadcrumb" >My profile</a>
        {% else %}
        <a href="{% url 'social:viewallusers' %}" class="breadcrumb" >Shoppers</a>
        <a class="breadcrumb" >{{ user|getfullname }}</a>
        {% endif %}

</div>

{% endblock %}

{% block content %}

<div class="row">

<div class="col s12 l3 m3 " style="padding-top: 20px;">

{% if user.socialaccount_set.all.0.get_avatar_url %}
            <img class="responsive-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person">
            <h5>{{ user|getfullname }}</h5>
            {% else %}
            {% thumbnail user.user_information.change_profile_pic '315x315' as im %}
            <img class="responsive-img" src="{{ im.url }}" alt="Contact Person">
            {% endthumbnail %}
            <h5>{{ user|getfullname }}</h5>

            {% if user.user_information.date_of_birth %}
            {% if user.user_information.showdob %}
            <i class="material-icons left teal-text text-darken-3">cake</i> {{ user.user_information.date_of_birth }}
            {% endif %}
            {% endif %}
            
            {% if request.user == user %}
            <div class="row">
          <form method='POST' action="{% url 'authentication:change_dp' %}" enctype='multipart/form-data'>{% csrf_token %}
            <div class="file-field input-field">
            <div class="btn waves-effect waves-teal btn-flat white-text">
            <span>Update pic</span>
            <input type="file" name="ppic" required>
            </div>
            <div class="file-path-wrapper">
            <input class="file-path validate" type="text" required>
          </div>
            
            </div>
             <button class="btn waves-effect waves-light" type="submit" name="action">save
  </button>
          </form>
            </div>
            {% endif %}
            {% endif %}

            

</div>

<div class="col s12 l9 m9" style="padding-top: 20px;">
      <ul class="tabs">
        <li class="tab col s3"><a class="teal-text text-darken-3 active" href="#test2">Following</a></li>
        <li class="tab col s3"><a class="teal-text text-darken-3" href="#test4">Followers</a></li>
        <li class="tab col s3"><a class="teal-text text-darken-3" href="#test1">Products Viewed</a></li>
        {% if notifications %}
        <li class="tab col s3"><a class="teal-text text-darken-3" href="#test3">Notifications</a></li>
        {% endif %}
      </ul>

    <div id="test1" class="col s12">
{% if recentlyviewed %}
<div class="section">
      <div class="row">
      {% for p in recentlyviewed %}
          <div class="col l3 s6 m6">
          <div class="card z-depth-0">
            <div class="card-image">
              <img src="{{ p.product.get_image_url }}">
            </div>
            <div class="card-action">
            
              <a class="teal-text text-darken-4" href="{{ p.product.get_absolute_url }}">{{ p.product.name }}</a>

            
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
        <div class="center">
          <a href="{% url 'social:deletehistory' %}" onclick="return confirm('Are you sure you want to clear your browsing history?');" class="waves-effect waves-light btn">Clear</a>
        </div>
</div>
{% else %}
<h5 class="grey-text center">No Items to show</h5>
{% endif %}
    </div>

    <div id="test2" class="col s12">
    {% if connections %}
    	<div class="row">
      {% for user in connections %}
        <div class="col s12 l3 m4">
          <div class="card">
            <div class="card-image">
              <!-- <img src="{{ user.user_information.get_image_url }}"> -->

              {% thumbnail user.user_information.get_image_url "227x227" crop="center" as im %}
                      <img src="{{ im.url }}">
                      {% endthumbnail %}

              <span class="card-title"></span>
            </div>
            <div class="card-content">
            <a class="teal-text text-darken-4" href="{% url 'social:viewuser' slug=user.user_information.slug %}">{{ user|getfullname }}</a>
               {% if user.user_information.profession and user.user_information.name_of_institute %}
              <p>{{ user.user_information.profession }} at {{ user.user_information.name_of_institute }}</p>
              {% else %}
              <p>&nbsp</p>
              {% endif %}
            </div>
            <div class="card-action" id="arc">

            <span id="addorremove{{ user.id }}">
            {% if user in connections %}
              <a data-id="{{ user.id }}" style="text-transform: none;" data-href="{% url 'social:removeconnection' id=user.id %}" class="teal-text text-darken-3 addremoveconnection">Remove from connections</a>
              {% else %}
              <a style="text-transform: none;" data-id="{{ user.id }}" data-href="{% url 'social:addconnection' id=user.id %}" class="teal-text text-darken-3 addremoveconnection" >Add to connections</a>
            {% endif %}
            </span>

            </div>
          </div>
        </div>
        {% endfor %}
</div>

       {% else %}
       <h5 class="grey-text center">No connections to show</h5>
       {% endif %}
    </div>


        <div id="test3" class="col s12">
          
        {% if notifications %}
        <div class="row">
        {% for i in notifications %}
        <ul class='collection'>
        <a class="teal-text text-darken-3 " href="{{ i.data.url }}"><li class="collection-item avatar">
        <img src="{{ i.data.imageurl }}" class="circle">
        {{ i.verb }}</br>{{ i.timestamp|timesince }} ago
        </li></a>
        </ul>
        {% endfor %}
        <div class="center">
        <a href="{% url 'social:showallnotifications' %}" class="teal-text text-darken-3">Show all</a>
        </div>
        </div>
      
        {% else %}
        {% endif %}
      </div>

      <div id="test4" class="col s12">
    {% if followers %}
      <div class="row">
      {% for user in followers %}
        <div class="col s6 l3 m4">
          <div class="card">
            <div class="card-image">
              
              <!-- <img src="{{ user.user_information.get_image_url }}"> -->
                
                {% thumbnail user.user_information.get_image_url "227x227" crop="center" as im %}
                      <img src="{{ im.url }}">
                      {% endthumbnail %}

              <span class="card-title"></span>
            </div>
            <div class="card-content">
            <a class="teal-text text-darken-3" href="{% url 'social:viewuser' slug=user.user_information.slug %}">{{ user|getfullname }}</a>
               {% if user.user_information.profession and user.user_information.name_of_institute %}
              <p>{{ user.user_information.profession }} at {{ user.user_information.name_of_institute }}</p>
              {% else %}
              <p>&nbsp</p>
              {% endif %}
            </div>
            <div class="card-action" id="arc">

            <span id="addorremove{{ user.id }}">
            {% if user in connections %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:removeconnection' id=user.id %}" class="addremoveconnection teal-text text-darken-3" style="text-transform: none;">Remove from connections</a>
              {% else %}
              <a data-id="{{ user.id }}" data-href="{% url 'social:addconnection' id=user.id %}" class="addremoveconnection teal-text text-darken-3" style="text-transform: none;" >Add to connections</a>
            {% endif %}
            </span>

            </div>
          </div>
        </div>
        {% endfor %}
</div>

       {% else %}
       <h5 class="grey-text center">No Followers to show</h5>
       {% endif %}
    </div>


</div>
</div>

<div class="container">
{% if my_contributions %}
<h5 class="center">Blog Posts</h5>
{% for obj in my_contributions %}
<div class="row">
        <div class="col s12 m12">
          <div class="card small" style="max-height: 170px;">
            <div class="card-content">
            {% if obj.publish_it %}
            <span class="badge teal lighten-1 black-text">Viewed {{ obj.get_views_count }} times</span>
            {% else %}
              <span class="badge pink black-text">Pending review</span>
              {% endif %}
              <p>
              <h5><a style="text-transform: none;" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h5>

              {% if request.user == obj.user %}
              <a style="text-transform: none;" href="{% url 'blog:update' slug=obj.slug %}">Edit</a>
              <a style="text-transform: none;" class="red-text" onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'blog:delete' slug=obj.slug %}">Delete Post?</a>
              <br>
              {% endif %}
              By <a style="text-transform: none;" class="green-text" href="{{ obj.user.user_information.get_absolute_url }}">{{ obj.user|getfullname }}</a><span class="right grey-text">Submitted {{ obj.timestamp|timesince }} ago</span></p>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
{% endif %}
</div>

{% endblock %}
