{% extends "allauth/base.html" %}
{% load thumbnail %}
{% block breadcumb %}
<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb">Return {{ item.product.name }}</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="row" style="padding-top: 20px;">
  <div class="col l6 s12 m12">
    <img src="{{ item.product.get_image_url }}">
  </div>
  <div class="col l6 s12 m12">
    <h3>{{ item.product.name }}</h3>
    <form method="POST" action="" id="form">{% csrf_token %}
        <div class="input-field col s12">
          <input id="first_name" type="text" name="reason" class="validate" required>
          <label for="first_name">Please tell us the reason for return</label>
        </div>
        <input type="hidden" name="id" value="{{ id }}">
        <div class="chip">
    We will collect the product within 7 days of making a request for return.
  </div>
         <button class="btn waves-effect waves-light" type="submit" name="action">Return
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
</div>

</div>

{% endblock %}