{% extends 'allauth/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
<div class="container">
  

{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a class="breadcrumb" >Settings</a>
</div>

{% endblock %}

<div class="row">
  <div class="col s12 m9 l8">    

    <div id="BasicSettings" class="section scrollspy">
      <form method="post" onsubmit="return false" id="basicsettingsform">
      {% csrf_token %}

      {{ userinfoform.as_p }}

      <a class="waves-effect waves-light btn" id="sumbitbasicsettings">Submit</a>

      </form>
<!-- 
<label for='dateofbirth'>Date Of Birth</label>
<input type="date" id="dateofbirth" class="datepicker"> -->


    </div>


    <div id="EmailSettings" class="section scrollspy">
      <a class="waves-effect waves-light btn" href="{% url 'account_email' %}"><i class="material-icons right">cloud</i>Modify your Email</a>
    </div>


    <div id="PasswordSettings" class="section scrollspy">
      <a class="waves-effect waves-light btn" href="{% url 'account_change_password' %}"><i class="material-icons right">cloud</i>Change Password</a>
    </div>

    <div id="PrivacySettings" class="section scrollspy">
      <h5>Privacy Settings</h5>
{{ userinfo }}
<form method="post" onsubmit="return false" id="privacysettingsform">{% csrf_token %}
    <ul class="collection">
      <li class="collection-item">
            <div class="switch">
            Show your recently viewed products to other users &nbsp
            <label>
            No
            <input name="recentlyviewed" type="checkbox" class="inline" {% if userinfo.showrecentlyviewed %} checked="checked" {% endif %}>
            <span class="lever"></span>
            Yes
            </label>
            </div>
      </li>
      <li class="collection-item">
              <div class="switch">
              Show people you are following to other users &nbsp
              <label>
              No
              <input name="following" type="checkbox" class="inline" {% if userinfo.showfollowing %} checked="checked" {% endif %}>
              <span class="lever"></span>
              Yes
              </label>
              </div>
      </li>
      <li class="collection-item">
          <div class="switch">
          Show your followers to other users &nbsp
          <label>
          No
          <input name="followers" type="checkbox" class="inline" {% if userinfo.showfollowers %} checked="checked" {% endif %}>
          <span class="lever"></span>
          Yes
          </label>
          </div>
      </li>
    </ul>
    <a class="waves-effect waves-light btn" id="submitprivacysettings">Save</a>
       </form>   
            
    </div>


  </div>

  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents fixed">
      <li>
        <a href="#BasicSettings">Basic Settings</a>
      </li>
      <li>
        <a href="#EmailSettings">Email Settings</a>
      </li>
      <li>
        <a href="#PasswordSettings">Password Settings</a>
      </li>
      <li>
        <a href="#PrivacySettings">Privacy Settings</a>
      </li>

    </ul>
  </div>
</div>

</div>

{% endblock %}


{% block extra_body %}

<script type="text/javascript">

	$(function(){

    $('#sumbitbasicsettings').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};

      $.ajax({
        url : ".",
        type : 'POST',
        dataType: 'json',
        data :  $('#basicsettingsform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          if (data['type'] == 0)
          {
            var x = data['errors'].__all__[0] 
            Materialize.toast(x, 4000) 
          }
          else if(data['type'] == 1)
          {
            Materialize.toast(data['msg'], 4000) 
          }

        }
      });



    });

  });
</script>



<script type="text/javascript">

  $(function(){

    $('#submitprivacysettings').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};
      $.ajax({
        url : "{% url 'authentication:change_privacy_settings' %}",
        type : 'POST',
        dataType: 'json',
        data :  $('#privacysettingsform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          if (data['type'] == 0)
          {
            var x = data['errors'].__all__[0] 
            Materialize.toast(x, 4000) 
          }
          else if(data['type'] == 1)
          {
            Materialize.toast(data['msg'], 4000) 
          }

        }
      });



    });

  });
</script>

{% endblock %}