{% extends 'allauth/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Account" %}{% endblock %}


{% block breadcumb %}

<div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        
        <a class="breadcrumb">Settings</a>
</div>

{% endblock %}

{% block content %}
<style type="text/css">
  .divider  
  {
    padding-top: 100px;
    /*padding-bottom: 100px;*/
  }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}
</style>
<div class="container">
  


<div class="row">
  <div class="col s12 m9 l8">    

    <div id="BasicSettings" class="section scrollspy">
    <h5>Basic Settings</h5>
      <form method="post" onsubmit="return false" id="basicsettingsform">
      {% csrf_token %}

      {{ userinfoform|crispy}}

      <a class="waves-effect waves-light btn" id="sumbitbasicsettings">Submit</a>

      </form>
<!-- 
<label for='dateofbirth'>Date Of Birth</label>
<input type="date" id="dateofbirth" class="datepicker"> -->


    </div>
    <div class="divider white"></div>

    <div id="AddressSettings" class="section scrollspy">
      <h5>Address Settings</h5>
      {% if addresses %}
      <ul class="collection">
      {% for i in addresses %}
      <li class="collection-item">
      <a class="right waves-effect waves-light btn" href="{{ i.get_remove_url }}">Remove</a>
       <b>Address:</b>  {{ i.address }} <br><b>City:</b> {{ i.city }}<br> <b>Pincode:</b>{{ i.pincode }}<br> <b>Nearest Landmark: </b>{{ i.nearest_landmark }} <br>
      </li>
      {% endfor %}
    </ul>
      {% else %}
      <p class="grey-text">No address added yet</p>
      {% endif %}
        
            
      <br/><b>Add new address here</b>
      <div class="row">
      <form method="POST" action="{% url 'authentication:addaddress' %}">{% csrf_token %}
      {{ addressform|crispy }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Add
      <i class="material-icons right">send</i>
      </button>
      </form>
        
      </div>
      </div>

      <div class="divider white"></div>

    <div id="EmailSettings" class="section scrollspy">
    <h5>Email Settings</h5>
      <a class="waves-effect waves-light btn" href="{% url 'account_email' %}"><i class="material-icons right">cloud</i>Modify your Email</a>
    </div>

<div class="divider white"></div>

    <div id="PasswordSettings" class="section scrollspy">
    <h5>Password Settings</h5>
      <a class="waves-effect waves-light btn" href="{% url 'account_change_password' %}"><i class="material-icons right">cloud</i>Change Password</a>
    </div>

    <div class="divider white"></div>

    <div id="PrivacySettings" class="section scrollspy">
      <h5>Privacy Settings</h5>
<form method="post" onsubmit="return false" id="privacysettingsform">{% csrf_token %}
    <ul class="collection">
      <li class="collection-item">
            Show your recently viewed products to other users &nbsp
            <div class="switch right">
            <label>
            No
            <input name="recentlyviewed" type="checkbox" class="inline" {% if userinfo.showrecentlyviewed %} checked="checked" {% endif %}>
            <span class="lever"></span>
            Yes
            </label>
            </div>
      </li>
      <li class="collection-item">
              Show people you are following to other users &nbsp
              <div class="switch right">
              <label>
              No
              <input name="following" type="checkbox" class="inline" {% if userinfo.showfollowing %} checked="checked" {% endif %}>
              <span class="lever"></span>
              Yes
              </label>
              </div>
      </li>
      <li class="collection-item">
          Show your followers to other users &nbsp
          <div class="switch right">
          <label>
          No
          <input name="followers" type="checkbox" class="inline" {% if userinfo.showfollowers %} checked="checked" {% endif %}>
          <span class="lever"></span>
          Yes
          </label>
          </div>
      </li>
    </ul>
    <a class="waves-effect waves-light btn" id="submitprivacysettings">Save</a>
       </form>   
            
    </div>


  </div>

  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents fixed">
      <li>
        <a href="#BasicSettings">Basic Settings</a>
      </li>
      <li>
        <a href="#AddressSettings">Address Settings</a>
      </li>
      <li>
        <a href="#EmailSettings">Email Settings</a>
      </li>
      <li>
        <a href="#PasswordSettings">Password Settings</a>
      </li>
      <li>
        <a href="#PrivacySettings">Privacy Settings</a>
      </li>

    </ul>
  </div>
</div>

</div>

{% endblock %}


{% block extra_body %}

<script type="text/javascript">

	$(function(){

    $('#sumbitbasicsettings').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};

      $.ajax({
        url : ".",
        type : 'POST',
        dataType: 'json',
        data :  $('#basicsettingsform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          if (data['type'] == 0)
          {
            var x = data['errors'].__all__[0] 
            Materialize.toast(x, 4000) 
          }
          else if(data['type'] == 1)
          {
            Materialize.toast(data['msg'], 4000) 
          }

        }
      });



    });

  });
</script>



<script type="text/javascript">

  $(function(){

    $('#submitprivacysettings').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};
      $.ajax({
        url : "{% url 'authentication:change_privacy_settings' %}",
        type : 'POST',
        dataType: 'json',
        data :  $('#privacysettingsform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          if (data['type'] == 0)
          {
            var x = data['errors'].__all__[0] 
            Materialize.toast(x, 4000) 
          }
          else if(data['type'] == 1)
          {
            Materialize.toast(data['msg'], 4000) 
          }

        }
      });



    });

  });
</script>

{% endblock %}