{% extends "index.html" %}
{% block title %}View title{% endblock %}
{% load crispy_forms_tags %}
{% load cfilters %}
{% load staticfiles %}
{% load thumbnail %}
{% block browser %}&nbsp{% endblock %}

{% block search %}
{{ block.super }}
{% endblock %}

{% block facebookplugin %}
{% endblock %}

{% block facebookpage %}
{% endblock %}

{% block content %}
<style type="text/css">
  blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid red; /* Just change the color value and that's it*/
}
</style>
     {% block breadcumb %}
      {% if type == 1 %}
    <div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        {% if etype == 1 %}
        <a class="breadcrumb">My Cart</a>
        {% elif etype == 2 %}
        <a class="breadcrumb">My Wish List</a>
        {% else %}
        <a class="breadcrumb" >{{ cname }}</a>
        {% endif %}
    </div>
    {% else %}
    <div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a href="{{ detailp.category.get_absolute_url }}" class="breadcrumb">{{ detailp.category.category }}</a>
        <a class="breadcrumb" >{{ detailp.name }}</a>
    </div>
      {% endif %}  
      
      {% endblock %}



{% if type == 1 %}

{% if etype == 1 %}
<div class="row">
  <div class="col s12">
    <div class="container">
        <a href="{% url 'payment:checkoutpage' %}" class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Checkout</a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
{% if products %}
  {% for p in products %}
  <div class="{% cycle 'col s12 m6 l3 offset-l1' 'col s12 m6 l3' 'col s12 m6 l3 ' %}" >
    <div class="card large hoverable" >
      <div class="card-image waves-effect waves-block waves-light" >
        <img  class="activator" src="{{ p.get_image_url }}
"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <a href="{{ p.get_absolute_url }}">{{ p.name }} </a><i class="material-icons right">more_vert</i>
        </span>
          {%  if p.new_product %}
          <span class="new badge green"></span>
          {% endif %}
          <p>
          <b><i class="fa fa-inr fa-1x" aria-hidden="true"></i> {{ p.price }}</b>
          </p>
        <p>
        {% if p.get_average_rating %}
            {% for i in p.get_average_rating|list %}
        <i class="material-icons yellow-text accent-3">star</i>
        {% endfor %}

      {% for i in p.get_average_rating|subtractfromfive|list %}
      <i class="material-icons yellow-text accent-3">star_border</i>
      {% endfor %}
      {% endif %}
        </p>
            {% ifnotequal p.gender "0"  %}
            <span class="badge red">{{ p.gender }}</span>
            {% endifnotequal %}
        <a data-href='{{ p.get_like_dislike_url  }}' data-position="bottom" data-delay="30" data-tooltip="Like Dislike" class="addtocart btn-floating waves-effect waves-light hoverable tooltipped " ><i class="material-icons ">favorite</i></a>
        {% if incart %}
        <a href='{{ p.get_delete_cart_url  }}' data-position="bottom" data-delay="30" data-tooltip="Remove from cart" class="btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">remove_shopping_cart</i></a>
        {% else %}
        <a data-href='{{ p.get_add_to_cart_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to cart" class="addtocart  btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">add_shopping_cart</i></a>
        {% endif %}

        {% if inwl and request.user %}
        <a href='{{ p.get_delete_wishlist_url }}' data-position="bottom" data-delay="30" data-tooltip="Remove from Wish List" class="btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">redeem</i></a>
        {% endif %}

       {% if p.stockcount %}
          {% else %}
        {% if request.user and not inwl %}
        <a data-href='{{ p.get_add_to_wishlist_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to wishlist" class="addtocart btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">redeem</i></a>
        {% endif %}
          {% endif %}

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ p.name }} <i class="material-icons right">close</i>
        </span>
        <p>
          {{ p.description }}
        </p>
          {% if p.stockcount %}
          <p>In stock<p>
          {% else %}
          <p>Comming Soon</p>
          {% endif %}
              {% ifnotequal p.get_sizes_of_product.0 "0" %}
              <p>Available sizes : 
              {% for i in p.get_sizes_of_product %}
              {{ i }}
              {% endfor %}
              </p>
              {% endifnotequal %}
      </div>
    </div>

  </div>
  

{% endfor %}
{% else %}
<h5 class="center grey-text" style="padding-bottom: 70px;">No items here</h5>
{% endif %}
  </div>


  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

{% if etype == 1 %}
        {% elif etype == 2 %}
        {% else %}  
<div class="container">
        <h2 class="header">Product suggestions</h2>

        <div class="row">
          <form class="col s12" method="POST" onsubmit="return false" id="suggestionform">{% csrf_token %}
            <div class="row">
              <div class="input-field col s6">
                <input id="suggestions" name="suggestions" type="text" class="validate" required>
                <label for="suggestions">Product Suggestion</label>
              </div>
               <div class="input-field col s6">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">E-mail(optional)</label>
              </div>
            </div>


            <button class="btn waves-effect waves-light" id="suggestionsubmit"  type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>

          </form>
        </div>

      </div>
   
{% endif %}

    

    <script type="text/javascript">

  $(function(){

    $('#suggestionsubmit').on('click',function(){

       var temp = {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value};

      $.ajax({
        url : "{% url 'review:productsuggestion' %}",
        type : 'POST',
        dataType: 'json',
        data :  $('#suggestionform').serialize(),
        headers: temp,
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        success : function(data) {
          $('#suggestions').val("")
          $('#email').val("")
          Materialize.toast(data['msg'], 4000)

        }
      });



    });

  });
</script>




  {% else %}


     <div class="row">
        <div class="col l6 s6 m6">

          <div class="card z-depth-0" style="height: 500px;">
            <div class="card-image">
          <div class="slider productslider" >
            <ul class="slides">
              {% for im in detailp.prod.all %}
          {% for image in im.productimages.all %}
              <li><a href="#{{ image.id }}">
              {% thumbnail image.image "450x500" as img %}
                <img src="{{ img.url }}" height="500px" width="450px" data-caption="{{ detailp.name }} {{ im.color }} {{ im.size }}" class="responsive-img">
              {% endthumbnail %}
                </a>
                </li>
              {% endfor %}
          {% endfor %}
              
            </ul>
          </div>

            </div>
    {% for im in detailp.prod.all %}
          {% for image in im.productimages.all %}
<div id="{{ image.id }}" class="modal">
    <div class="modal-content">
     <img src="{{ image.image.url }}">
    </div>
  </div>
  {% endfor %}
{% endfor %}

            <div class="card-action hide-on-med-and-down">
              <a data-href='{{ detailp.get_add_to_cart_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">add_shopping_cart</i>Add to cart</a>

              {% if request.user %}
              <a data-href='{{ detailp.get_add_to_wishlist_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">redeem</i>Add to wishlist</a>
              {% endif %}
            </div>
            <div class="card-action hide-on-large-only">
              <a data-href='{{ detailp.get_add_to_cart_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">add_shopping_cart</i></a>

              {% if request.user %}
              <a data-href='{{ detailp.get_add_to_wishlist_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">redeem</i></a>
              {% endif %}
            </div>
          </div>


          

        </div>

      <div class="col l5 s6 m5">
        <div class="card-panel white card z-depth-0">
          <div class="row">
        <h3 class="center">
          {{ detailp.name }}
        </h3>
        {% if detailp.get_average_rating %}
        {% for i in detailp.get_average_rating|list %}
        <i class="material-icons yellow-text accent-3">star</i>
        {% endfor %}

      {% for i in detailp.get_average_rating|subtractfromfive|list %}
      <i class="material-icons yellow-text accent-3">star_border</i>
      {% endfor %}
        {% endif %}

        {% if reviewcount %}
        <a href="#reviews">{{ reviewcount }} reviews</a> 
        {% endif %}

        {%  if detailp.new_product %}
          <span class="badge green black-text">New Arrival</span>
          {% endif %}
          {%  if detailp.has_logo %}
          <span class="badge red black-text">User Customized</span>
          {% endif %}
          {% ifnotequal detailp.gender "0" %}
          <span class="badge green black-text">{{ detailp.gender }}</span>
          {% endifnotequal %}      
          </div>
          <blockquote >          
          <p>{{ detailp.description|linebreaks }}</p>
    </blockquote>
                  <h5 class="center"><i class="fa fa-inr fa-1x" aria-hidden="true"></i> {{ detailp.price }}</h5>

                  {% if detailp.stockcount %}
                <p>In stock<p>
                {% else %}
                <p>Comming Soon</p>
                {% endif %}
                    {% ifnotequal detailp.get_sizes_of_product.0 "0" %}
                    <p>Available sizes 
                    {% for i in detailp.get_sizes_of_product %}
                    <div class="chip">
                    <b>{{ i.0 }} </b>
                    </div>
                    {% endfor %}
                    </p>
                    {% endifnotequal %}
                    <hr>
          <div class="section">
          {% if friendslikes %}
          {% for l in friendslikes %}
                      <a href="{{ l.user.user_information.get_absolute_url }}">
                      <div class="chip">
                      <img class="responsive-img" src="{{ l.user.user_information.get_image_url }}" >
                      {{ l.user|getfullname }}
                      </div>
                      </a>
          {% endfor %}

          {% endif %}
            <p>
              <a  href="#modal1">{{ likescount }} shoppers liked this product</a>
            </p>

            <div class="row">
                    <div id="modal1" class="col l4 s8 m6 modal center">
                      <div class="modal-content">
                        <h5>Likes on this product</h5>
                        {% for l in likes %}
                        <p>
                        <a href="{{ l.user.user_information.get_absolute_url }}">
                          <div class="chip">
                            <img class="responsive-img" src="{{ l.user.user_information.get_image_url }}" >
                            {{ l.user|getfullname }}
                          </div>
                          <span class="right grey-text">{{ l.timestamp|timesince }} ago</span>
                          </a>
                        </p>
                        {% endfor %}
                      </div>
                    </div>
              </div>

          </div>

        </div>
      </div>
      </div>

   
<div class="divider"></div>

<div class="row">
  <div class="col s12">
    
{% if detailsofproduct %}
<div class="section container">
  <h5 class="center">Product Description</h5>
      <table class="responsive-table centered">
        <tbody>
          {% for i in detailsofproduct %}
          <tr>
            <td><b>{{ i.attribute }}</b></td>
            <td>{{ i.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}

  </div>
</div>

{% if request.user.is_authenticated %}
    {% if detailp.has_logo_variation %}
<div class="row">
  <div class="col s12">
  <div class="container">
  <h5 class="center">Your Customization</h5>
  <p class="center"><a id="customizelink" data-url="{% url 'shopping:view_private_item' slug=detailp.slug %}">Click here to customize your product with college logo*</a></p>
  <p class="center" id="cutomproductmessage"></p>
  </div>
  </div>
</div>
    {% endif %}
    {% endif %}

<div class="row">
  <div class="col s12">
      {% if reviews %}
<div class="section container scrollspy" id="reviews">
  <h5 class="center">Product Reviews</h5>
<ul class="collection">
{% for review in reviews %}
    <li class="collection-item avatar">
            {% if review.user.socialaccount_set.all.0 %}
            <img src="{{ review.user.socialaccount_set.all.0.get_avatar_url }}" alt="Contact Person" class="circle">
            {% else %}
            {% thumbnail review.user.user_information.change_profile_pic "100x100" as im %}
            <img src="{{ im.url }}" alt="Contact Person" class="circle">
            {% endthumbnail %}
            {% endif %}

      <b class="title">{{ review.user|getfullname }}</b>
      <p> {{ review.review }}
      </p>
      {% if request.user == review.user %}
      <a href="{{ review.get_delete_review_url }}">Remove</a> 
      {% endif %}
      <a class="secondary-content yellow-text accent-3">
      {% for i in review.rating|times %}
      <i class="material-icons">star</i>
      {% endfor %}

      {% for i in review.rating|subtractfromfive|times %}
      <i class="material-icons">star_border</i>
      {% endfor %}
      
      </a>
    </li>  
      {% endfor %}
  </ul>
</div>
{% else %}
<h6 class="grey-text center">Be the first one to review this product</h6>
{% endif %}
    
  </div>
</div>


  {% if request.user.is_authenticated %}
  <div class="section container">
      <form method="post" action="{% url 'review:addreview' %}">{% csrf_token %}
        {{ form.product }}
     
      <div class="row">
        <div class="col l5 m5 s12 offset-m1 offset-l1">
        {{ form.review.errors }}
        <label for="id_review">Share your review</label>
          {{ form.review }}
        </div>
        <div class="col l3 m3 s6 range-field">
          {{ form.rating.errors }}
          <label for="id_rating">Rating</label>
          {{ form.rating }}
          <!-- <input type="range" id="test5" min="0" max="10" /> -->
        </div>
        <div class="col l2 m2 s6">
          <button class="btn waves-effect waves-light" type="submit" name="action">Add
          <i class="material-icons right">send</i>
        </button> 
        </div>
      </div>

      </form>
     </div>
     {% else %}
     <h5 class="center grey-text">Signup to add review</h5>
     {% endif %}


{% if recentlyviewed %}
<div class="section">
<h5 class="center">Recently viewed products</h5 >
      <div class="row">
      {% for p in recentlyviewed %}
          <div class="col l3 s2 m3">
          <div class="card z-depth-0">
            <div class="card-image">
              <img src="{{ p.product.get_image_url }}">
            </div>
            <div class="card-action">
            {{ p.product.name }}
              <a href="#">This is a link</a>
              <a data-href='{{ p.product.get_add_to_cart_url }}' class='addtocart'>Add to cart</a>

              {% if request.user %}
              <a data-href='{{ p.product.get_add_to_wishlist_url }}' class='addtocart'>Add to wishlist</a>
              {{ p.product.get_add_to_wishlist_url }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
</div>
{% endif %}

{% endif %}
<script type="text/javascript">
  $('#customizelink').on('click',function(){
        var link = $(this).attr('data-url')
        

        $.ajax({
          url : link,
          type: 'GET',
          success : function(data) {
            
            $('#cutomproductmessage').html("<div class='chip'>"+data['msg']+"<i class='close material-icons'>close</i></div>")
          }
        });
  });
</script>

{% endblock %}