{% extends "index.html" %}
{% block title %}View title{% endblock %}
{% load crispy_forms_tags %}
{% load cfilters %}
{% load staticfiles %}
{% block browser %}&nbsp{% endblock %}

{% block search %}
{{ block.super }}
{% endblock %}


{% block content %}

     {% block breadcumb %}
      {% if type == 1 %}
    <div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        {% if etype == 1 %}
        <a class="breadcrumb">My Cart</a>
        {% elif etype == 2 %}
        <a class="breadcrumb">My Wish List</a>
        {% else %}
        <a class="breadcrumb" >{{ cname }}</a>
        {% endif %}
    </div>
    {% else %}
    <div class="col s12" style="padding-left:50px;">
        <a href="/" class="breadcrumb">Home</a>
        <a href="{{ detailp.category.get_absolute_url }}" class="breadcrumb">{{ detailp.category.category }}</a>
        <a class="breadcrumb" >{{ detailp.name }}</a>
    </div>
      {% endif %}  
      
      {% endblock %}



{% if type == 1 %}


<div class="row">
{% if products %}
  {% for p in products %}
  <div class="{% cycle 'col s12 m6 l3 offset-l1' 'col s12 m6 l3' 'col s12 m6 l3 ' %}" >
    <div class="card medium hoverable" >
      <div class="card-image waves-effect waves-block waves-light" >
        <img  class="activator" src="{{ p.get_image_url }}
"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <a href="{{ p.get_absolute_url }}">{{ p.name }} </a><i class="material-icons right">more_vert</i>
        </span>
          {%  if p.new_product %}
          <span class="new badge green"></span>
          {% endif %}
        <p>
          <p>stars</p>
          <p>R-{{ p.price }}</p>
          <span class="badge red">{{ p.gender }}</span>

        </p>
        <a data-href='{{ p.get_like_dislike_url  }}' data-position="bottom" data-delay="30" data-tooltip="Like Dislike" class="addtocart btn-floating waves-effect waves-light hoverable tooltipped " ><i class="material-icons ">favorite</i></a>
        {% if incart %}
        <a href='{{ p.get_delete_cart_url  }}' data-position="bottom" data-delay="30" data-tooltip="Remove from cart" class="btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">remove_shopping_cart</i></a>
        {% else %}
        <a data-href='{{ p.get_add_to_cart_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to cart" class="addtocart  btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">add_shopping_cart</i></a>
        {% endif %}

        {% if inwl and request.user %}
        <a href='{{ p.get_delete_wishlist_url }}' data-position="bottom" data-delay="30" data-tooltip="Remove from Wish List" class="btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">redeem</i></a>
        {% endif %}

        {% if request.user and not inwl %}

        <a data-href='{{ p.get_add_to_wishlist_url }}' data-position="bottom" data-delay="30" data-tooltip="Add to wishlist" class="addtocart btn-floating waves-effect waves-light hoverable tooltipped"><i class="material-icons">redeem</i></a>
                                  


        {% endif %}

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{ p.name }} <i class="material-icons right">close</i>
        </span>
        <p>
          {{ p.description }}
          <p>{{ p.stockcount }} pieces in stock</p>
        </p>
      </div>
    </div>

  </div>
  

{% endfor %}
{% else %}
<h5 class="center grey-text" style="padding-bottom: 70px;">No items here</h5>
{% endif %}
  </div>


  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

  

  {% else %}


     <div class="row">
        <div class="col l5 s6 m5 offset-l1 offset-m1">
          <div class="card z-depth-0">
            <div class="card-image">

          <div class="slider">
            <ul class="slides">
              {% for im in detailp.prod.all %}
          {% for image in im.productimages.all %}
              <li>
                <img src="{{ image.image.url }}" data-caption="{{ detailp.name }} {{ im.color }} {{ im.size }}" class="materialboxed viewimage"></li>
              {% endfor %}
          {% endfor %}
              
            </ul>
          </div>

            </div>
            <div class="card-action hide-on-med-and-down">
              <a data-href='{{ detailp.get_add_to_cart_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">add_shopping_cart</i>Add to cart</a>

              {% if request.user %}
              <a data-href='{{ detailp.get_add_to_wishlist_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">redeem</i>Add to wishlist</a>
              {% endif %}
            </div>
            <div class="card-action hide-on-large-only">
              <a data-href='{{ detailp.get_add_to_cart_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">add_shopping_cart</i></a>

              {% if request.user %}
              <a data-href='{{ detailp.get_add_to_wishlist_url }}' class='addtocart waves-effect waves-light btn'><i class="material-icons left">redeem</i></a>
              {% endif %}
            </div>
          </div>
        </div>

      <div class="col l5 s6 m5">
        <div class="card-panel white card z-depth-0">
        <h3 class="center">
          {{ detailp.name }}
        </h3>
        {%  if detailp.new_product %}
          <span class="badge green black-text">New Arrival</span>
          {% endif %}
          <span class="badge green black-text">{{ detailp.gender }}</span>
          {{ detailp.description|linebreaks }}
                  <p>R-{{ detailp.price }}</p>
                <p>{{ detailp.stockcount }} in stock<p>
          <div class="section">
          {% if friendslikes %}
          {% for l in friendslikes %}
                      <a href="{{ l.user.user_information.get_absolute_url }}">
                      <div class="chip">
                      <img class="responsive-img" src="{{ l.user.user_information.get_image_url }}" >
                      {{ l.user|getfullname }}
                      </div>
                      </a>
          {% endfor %}

          {% endif %}
            <p>
              <a  href="#modal1">{{ likescount }} shoppers liked this product</a>
            </p>

            <div class="row">
                    <div id="modal1" class="col l4 s8 m6 modal center">
                      <div class="modal-content">
                        <h5>Likes on this product</h5>
                        {% for l in likes %}
                        <p>
                        <a href="{{ l.user.user_information.get_absolute_url }}">
                          <div class="chip">
                            <img class="responsive-img" src="{{ l.user.user_information.get_image_url }}" >
                            {{ l.user|getfullname }}
                          </div>
                          <span class="right grey-text">{{ l.timestamp|timesince }} ago</span>
                          </a>
                        </p>
                        {% endfor %}
                      </div>
                    </div>
              </div>

          </div>

        </div>
      </div>
      </div>

   
<div class="divider"></div>

{% if detailsofproduct %}
<div class="section container">
  <h5 class="center">Product Description</h5>
      <table class="responsive-table centered">
        <tbody>
          {% for i in detailsofproduct %}
          <tr>
            <td><b>{{ i.attribute }}</b></td>
            <td>{{ i.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endif %}

{% if detailp.reviews.all %}
<div class="section container">
  <h5 class="center">Product Reviews</h5>
<ul class="collection">
{% for review in detailp.reviews.all %}
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <b class="title">{{ review.user|getfullname }}</b>
      <p> {{ review.review }}
      </p>
      {% if request.user == review.user %}
      <a href="{{ review.get_delete_review_url }}">Remove</a> 
      {% endif %}
      <a href="#!" class="secondary-content">{% for i in review.rating|times %}
      <i class="material-icons">grade</i>
      {% endfor %}</a>
    </li>  
      {% endfor %}
  </ul>
</div>
{% else %}
<h6 class="grey-text center">Be the first one to review this product</h6>
{% endif %}

  {% if request.user.is_authenticated %}
  <div class="section container">
      <form method="post" action="{% url 'review:addreview' %}">{% csrf_token %}
        {{ form.product }}
     
      <div class="row">
        <div class="col l5 m5 s12 offset-m1 offset-l1">
        {{ form.review.errors }}
        <label for="id_review">Share your review</label>
          {{ form.review }}
        </div>
        <div class="col l3 m3 s6 range-field">
          {{ form.rating.errors }}
          <label for="id_rating">Rating</label>
          {{ form.rating }}
          <!-- <input type="range" id="test5" min="0" max="10" /> -->
        </div>
        <div class="col l2 m2 s6">
          <button class="btn waves-effect waves-light" type="submit" name="action">Add
          <i class="material-icons right">send</i>
        </button> 
        </div>
      </div>

      </form>
     </div>
     {% else %}
     <h5 class="center grey-text">Signup to add review</h5>
     {% endif %}


{% if recentlyviewed %}
<div class="section">
<h5 class="center">Recently viewed products</h5 >
      <div class="row">
      {% for p in recentlyviewed %}
          <div class="col l3 s2 m3">
          <div class="card z-depth-0">
            <div class="card-image">
              <img src="{{ p.product.get_image_url }}">
            </div>
            <div class="card-action">
            {{ p.product.name }}
              <a href="#">This is a link</a>
              <a data-href='{{ p.product.get_add_to_cart_url }}' class='addtocart'>Add to cart</a>

              {% if request.user %}
              <a data-href='{{ p.product.get_add_to_wishlist_url }}' class='addtocart'>Add to wishlist</a>
              {{ p.product.get_add_to_wishlist_url }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
</div>
{% endif %}

{% endif %}


{% endblock %}