 <!DOCTYPE html>
  <html>
    <head>
    </head>

    <body>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div class="container">
    <img src="http://robasquare.com/static/images/logo.png" height="150" width="200">
      <h2>Hello {{ user }}</h2>

<p>
  <b>
Thank You for shopping with us.Your order has been successfully placed! 
Delivery is on track and we will keep you updated as the product is being packed, shipped and delivered.
  </b>
</p>


      <p>Download your invoice <a href="{{ url }}"> here.</a></p>

<h5>Have a nice day :-) </h5>
<b>Roba Square Team</b><br>
<b><a href="robasquare.com">www.robasquare.com</a ></b>

    </div>
    </body>
  </html>
        